<a href="https://colab.research.google.com/github/zackives/upenn-cis-2450/blob/main/Lectures_2_4_Data_Acquisition_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview of Part I

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook gives us a series of examples for:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking

## The Motivating Question
To illustrate the principles, we focus on the question of how old company CEOs and founders are.  The question was in part motivated by the following New York Times article:

* Founders of Successful Tech Companies Are Mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test this hypothesis!

In [1]:
!pip3 install git+https://github.com/anhaidgroup/py_stringsimjoin.git@rel_0_3_3

Collecting git+https://github.com/anhaidgroup/py_stringsimjoin.git@rel_0_3_3
  Cloning https://github.com/anhaidgroup/py_stringsimjoin.git (to revision rel_0_3_3) to /tmp/pip-req-build-yq7atpno
  Running command git clone --filter=blob:none --quiet https://github.com/anhaidgroup/py_stringsimjoin.git /tmp/pip-req-build-yq7atpno
  Running command git checkout -b rel_0_3_3 --track origin/rel_0_3_3
  Switched to a new branch 'rel_0_3_3'
  Branch 'rel_0_3_3' set up to track remote branch 'rel_0_3_3' from 'origin'.
  Resolved https://github.com/anhaidgroup/py_stringsimjoin.git to commit 06839a56b7b4fabf96d50fd69fc304f763dd80b8
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from py_stringsimjoin==0.3.3) (1.4.2)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.10/dist-packages (from py_stringsimjoin==0.3.3) (2.1.4)
Collecting PyPrind>=2.9.3 (from py_stringsimjoin==0.3.3)
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl.metadata (1.1 kB)
Collecting py_stringmatching>=0.2.1 (from py_stringsimjoin==0.3.3)
  Downloading py-stringmatching-0.4.6.tar.gz (849 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 849.6/849.6 kB 9.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from py_stringsimjoin==0.3.3) (1.16.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.3) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.3) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.3) (2024.1)
Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Building wheels for collected packages: py_stringsimjoin, py_stringmatching
  Building wheel for py_stringsimjoin (setup.py) ... done
  Created wheel for py_stringsimjoin: filename=py_stringsimjoin-0.3.3-cp310-cp310-linux_x86_64.whl size=5282953 sha256=5fd4a63e60cdc21a52666b32d7579e9d5e58ae155cf6228c85fb01859877a011
  Stored in directory: /tmp/pip-ephem-wheel-cache-twr127co/wheels/af/8b/c9/2aac0ef0263bd43c4e833e88f902ab819d0e1d3e395498477d
  Building wheel for py_stringmatching (setup.py) ... done
  Created wheel for py_stringmatching: filename=py_stringmatching-0.4.6-cp310-cp310-linux_x86_64.whl size=2833927 sha256=35caf6c16c918a8fe1981d0ff8245bb2d210f06a2f9d086381624a72c40c60a4
  Stored in directory: /root/.cache/pip/wheels/1b/5e/38/021a861f6d28ed354e033a029507cb8ed841454da833021bbb
Successfully built py_stringsimjoin py_stringmatching
Installing collected packages: PyPrind, py_stringmatching, py_stringsimjoin
Successfully installed PyPrind-2.11.3 py_stringmatching-0.4.6 py_stringsimjoin-0.3.3

In [2]:
# Let's install some libraries useful for processing web data

# For string similarity
#!pip3 install py_stringsimjoin

# # lxml to parse xml tree
!pip3 install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)

In [3]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import sqlite3

# Approximate string matching, see
import py_stringsimjoin as ssj
import py_stringmatching as sm

# Data visualization
import matplotlib

In [4]:
dir(sm)

['Affine',
 'AlphabeticTokenizer',
 'AlphanumericTokenizer',
 'BagDistance',
 'Cosine',
 'DelimiterTokenizer',
 'Dice',
 'Editex',
 'GeneralizedJaccard',
 'HammingDistance',
 'Jaccard',
 'Jaro',
 'JaroWinkler',
 'Levenshtein',
 'MongeElkan',
 'NeedlemanWunsch',
 'OverlapCoefficient',
 'PartialRatio',
 'QgramTokenizer',
 'SmithWaterman',
 'SoftTfIdf',
 'Soundex',
 'TfIdf',
 'TverskyIndex',
 'WhitespaceTokenizer',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'similarity_measure',
 'tokenizer',
 'utils']

# Lecture Module 1: Acquiring Data

To test our hypothesis, we might want:

1. A list of companies (and, for futher details, perhaps their lines of business)
2. A list of company CEOs
3. Ages of the CEOs

We'll go through each of these using real data from the web.

### Reading Structured Data Sources

Let's start by looking up data about companies.  An example of this is at:

https://gist.githubusercontent.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv

which has some nicely detailed information about companies, their categories, when they were founded, etc.  Let's load this (remote) CSV file into a dataframe.

In [5]:
data = urllib.request.urlopen(\
       'https://gist.github.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv')

company_data_df = pd.read_csv(data)

In [6]:
# Let's write it to SQL, and read it back

conn = sqlite3.connect('local.db')

company_data_df.to_sql("companies", conn, if_exists="replace", index=False)

pd.read_sql_query('select * from companies', conn)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1 750 000,acquired,USA,NY,New York City,New York,1,01/06/2012,2012-06,2012-Q2,2012.0,30/06/2012,30/06/2012
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4 000 000,operating,USA,CA,Los Angeles,Los Angeles,2,None,None,None,NaN,04/06/2010,23/09/2010
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40 000,operating,EST,None,Tallinn,Tallinn,1,26/10/2012,2012-10,2012-Q4,2012.0,09/08/2012,09/08/2012
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|iPhone|Apps|Mobile|iOS|E-Commerce|,Electronics,1 500 000,operating,GBR,None,London,London,1,01/04/2011,2011-04,2011-Q2,2011.0,01/04/2011,01/04/2011
4,/organization/n-plusn,+n (PlusN),http://plusn.com,|Software|,Software,1 200 000,operating,USA,NY,New York City,New York,2,01/01/2012,2012-01,2012-Q1,2012.0,29/08/2012,04/09/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47753,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|Android|Education|,Education,320 000,operating,GBR,None,London,London,1,28/01/2013,2013-01,2013-Q1,2013.0,24/03/2014,24/03/2014
47754,/organization/zznode-science-and-technology-co-ltd,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1 587 301,operating,CHN,None,Beijing,Beijing,1,None,None,None,NaN,01/04/2012,01/04/2012
47755,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97 398,operating,HRV,None,Split,Split,5,13/05/2012,2012-05,2012-Q2,2012.0,01/11/2011,10/09/2014
47756,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9 300 000,operating,None,None,None,None,1,None,None,None,NaN,21/11/2011,21/11/2011
47757,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45 000 000,operating,USA,NY,New York City,New York,4,01/01/1999,1999-01,1999-Q1,1999.0,01/06/2008,04/04/2013

## Companies' CEOs: a Web Table

Now we need to figure out who the CEOs are for corporations.  One place to look is Wikipedia, which has an HTML table describing the CEOs.

https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs

Pandas actually makes it easy to read HTML tables...

In [9]:
# Now let's read an HTML table!

company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[1]

company_ceos_df

,Company,Executive,Title,Since,Notes,Updated
0,Accenture,Julie Sweet,CEO[1],2019,"Succeeded Pierre Nanterme, died",2019-01-31
1,Aditya Birla Group,Kumar Mangalam Birla,Chairman[2],1995[2],Part of the Birla family business house in India,2018-10-01
2,Adobe Systems,Shantanu Narayen,"Chairman, president and CEO[3]",2007,Formerly with Apple,2018-10-01
3,Airbus,Guillaume Faury,CEO[4],2012,Succeeded Louis Gallois,2017-11-14
4,Alibaba,Eddie Wu,Director and CEO[5],2023[6],NaN,2024-07-19
...,...,...,...,...,...,...
130,Warner Brothers,Ann Sarnoff,Chairwoman and CEO[122],2019,First woman to hold the position at the company; succeeded Kevin Tsujihara,2019-10-10
131,WarnerMedia,Jason Kilar,CEO[123],2020,Previously with Hulu and Amazon,2020-11-19
132,Wells Fargo,Charles Scharf,CEO and president[124],2019,"Succeeded John Stumpf, previously COO",NaN
133,Whole Foods Market,John Mackey,CEO[125],1980,Co-founder,2017-11-11
134,Zillow Group,Rich Barton,CEO[126],2019,Co-founder and previously was Zillow's CEO for nearly a decade. Succeeded Spencer Rascoff.,2018-12-10

## The Problem Gets Harder... Extracting Structured Fields

So far we have companies and CEOs.  But we don't have information on how old the CEOs are!

For a solution, we're going to go back to Wikipedia -- this time looking at the web pages for the CEOs!

This involves "crawling" the CEO pages, and "scraping" the relevant content.  In other words we have to do *information extraction*.

We'll start by constructing a list of CEO web pages, from the Company CEO dataframe above.  For this, we need to take the names and do a bit of tweaking, for example adding underscores instead of spaces.

In [10]:
crawl_list = []

for executive in company_ceos_df['Executive']:
  crawl_list.append('https://en.wikipedia.org/wiki/' + executive.replace(' ', '_'))

crawl_list

['https://en.wikipedia.org/wiki/Julie_Sweet',
 'https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla',
 'https://en.wikipedia.org/wiki/Shantanu_Narayen',
 'https://en.wikipedia.org/wiki/Guillaume_Faury',
 'https://en.wikipedia.org/wiki/Eddie_Wu',
 'https://en.wikipedia.org/wiki/Andy_Jassy',
 'https://en.wikipedia.org/wiki/Lisa_Su',
 'https://en.wikipedia.org/wiki/Stephen_Squeri',
 'https://en.wikipedia.org/wiki/Joseph_R._Swedish',
 'https://en.wikipedia.org/wiki/Tim_Cook',
 'https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal',
 'https://en.wikipedia.org/wiki/John_Stankey',
 'https://en.wikipedia.org/wiki/Charles_Woodburn',
 'https://en.wikipedia.org/wiki/Tapan_Singhel',
 'https://en.wikipedia.org/wiki/Carlos_Torres_Vila',
 'https://en.wikipedia.org/wiki/Brian_Moynihan',
 'https://en.wikipedia.org/wiki/C.S._Venkatakrishnan',
 'https://en.wikipedia.org/wiki/Warren_Buffett',
 'https://en.wikipedia.org/wiki/Hubert_Joly',
 'https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal',
 'https://en.wikipedia.org/wiki/Stephen_A._Schwarzman',
 'https://en.wikipedia.org/wiki/Mike_Henry',
 'https://en.wikipedia.org/wiki/Oliver_Zipse',
 'https://en.wikipedia.org/wiki/Dave_Calhoun',
 'https://en.wikipedia.org/wiki/Rich_Lesser',
 'https://en.wikipedia.org/wiki/Bob_Dudley',
 'https://en.wikipedia.org/wiki/Hock_Tan',
 'https://en.wikipedia.org/wiki/Denise_Morrison',
 'https://en.wikipedia.org/wiki/Mark_Shuttleworth',
 'https://en.wikipedia.org/wiki/Richard_Fairbank',
 'https://en.wikipedia.org/wiki/Jim_Umpleby',
 'https://en.wikipedia.org/wiki/Evan_Greenberg',
 'https://en.wikipedia.org/wiki/Chuck_Robbins',
 'https://en.wikipedia.org/wiki/Jane_Fraser',
 'https://en.wikipedia.org/wiki/James_Quincey',
 'https://en.wikipedia.org/wiki/Brian_L._Roberts',
 'https://en.wikipedia.org/wiki/Thomas_Gottstein',
 'https://en.wikipedia.org/wiki/Ola_Källenius',
 'https://en.wikipedia.org/wiki/Michael_Dell',
 'https://en.wikipedia.org/wiki/Ed_Bastian',
 'https://en.wikipedia.org/wiki/Christian_Sewing',
 'https://en.wikipedia.org/wiki/Tobias_Meyer',
 'https://en.wikipedia.org/wiki/Edward_D._Breen',
 'https://en.wikipedia.org/wiki/Devin_Wenig',
 'https://en.wikipedia.org/wiki/Börje_Ekholm',
 'https://en.wikipedia.org/wiki/Darren_Woods',
 'https://en.wikipedia.org/wiki/Carmine_Di_Sibio',
 'https://en.wikipedia.org/wiki/Mark_Zuckerberg',
 'https://en.wikipedia.org/wiki/Frederick_W._Smith',
 'https://en.wikipedia.org/wiki/Sergio_Marchionne',
 'https://en.wikipedia.org/wiki/Abigail_Johnson',
 'https://en.wikipedia.org/wiki/James_Hackett',
 'https://en.wikipedia.org/wiki/Terry_Gou',
 'https://en.wikipedia.org/wiki/Lachlan_Murdoch',
 'https://en.wikipedia.org/wiki/Phebe_Novakovic',
 'https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.',
 'https://en.wikipedia.org/wiki/Mary_T._Barra',
 'https://en.wikipedia.org/wiki/Emma_Walmsley',
 'https://en.wikipedia.org/wiki/David_M._Solomon',
 'https://en.wikipedia.org/wiki/Sundar_Pichai',
 'https://en.wikipedia.org/wiki/C_Vijayakumar',
 'https://en.wikipedia.org/wiki/Antonio_Neri',
 'https://en.wikipedia.org/wiki/Darius_Adamczyk',
 'https://en.wikipedia.org/wiki/Noel_Quinn',
 'https://en.wikipedia.org/wiki/Arvind_Krishna',
 'https://en.wikipedia.org/wiki/Salil_Parekh',
 'https://en.wikipedia.org/wiki/Pat_Gelsinger',
 'https://en.wikipedia.org/wiki/James_Dimon',
 'https://en.wikipedia.org/wiki/Pieter_Elbers',
 'https://en.wikipedia.org/wiki/Charles_G._Koch',
 'https://en.wikipedia.org/wiki/Marillyn_Hewson',
 'https://en.wikipedia.org/wiki/Steve_Rowe',
 'https://en.wikipedia.org/wiki/Chris_Kempczinski',
 'https://en.wikipedia.org/wiki/Bob_Sternfels',
 'https://en.wikipedia.org/wiki/Steven_A._Kandarian',
 'https://en.wikipedia.org/wiki/Isaac_Larian',
 'https://en.wikipedia.org/wiki/Satya_Nadella',
 'https://en.wikipedia.org/wiki/James_P._Gorman',
 'https://en.wikipedia.org/wiki/Jeff_Shell',
 'https://en.wikipedia.org/wiki/Robert_James_Thomson',
 'https://en.wikipedia.org/wiki/Mark_Thompson',
 'https://en.wikipedia.org/wiki/Mark_Parker',
 'https://en.wikipedia.org/wiki/Pekka_Lundmark',
 'https://en.wikipedia.org/wiki/Vasant_Narasimhan',
 'https://en.wikipedia.org/wiki/Tatsumi_Kimishima',
 'https://en.wikipedia.org/wiki/Safra_Catz',
 'https://en.wikipedia.org/wiki/Mark_Hurd',
 'https://en.wikipedia.org/wiki/Ramon_Laguarta',
 'https://en.wikipedia.org/wiki/Albert_Bourla',
 'https://en.wikipedia.org/wiki/David_S._Taylor',
 'https://en.wikipedia.org/wiki/John_Strangfeld',
 'https://en.wikipedia.org/wiki/Alan_Joyce',
 'https://en.wikipedia.org/wiki/Anil_Ambani',
 'https://en.wikipedia.org/wiki/Mukesh_Ambani',
 'https://en.wikipedia.org/wiki/Luca_de_Meo',
 'https://en.wikipedia.org/wiki/David_I._McKay',
 'https://en.wikipedia.org/wiki/Ross_McEwan',
 'https://en.wikipedia.org/wiki/Ben_van_Beurden',
 "https://en.wikipedia.org/wiki/Michael_O'Leary",
 'https://en.wikipedia.org/wiki/Douglas_L._Peterson',
 'https://en.wikipedia.org/wiki/Oh-Hyun_Kwon',
 'https://en.wikipedia.org/wiki/Christian_Klein',
 'https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III',
 'https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire',
 'https://en.wikipedia.org/wiki/Peter_Harrison',
 'https://en.wikipedia.org/wiki/Chua_Sock_Koong',
 'https://en.wikipedia.org/wiki/Masayoshi_Son',
 'https://en.wikipedia.org/wiki/Tony_Aquila',
 'https://en.wikipedia.org/wiki/Robert_E._Jordan',
 'https://en.wikipedia.org/wiki/J._Clifford_Hudson',
 'https://en.wikipedia.org/wiki/Laxman_Narasimhan',
 'https://en.wikipedia.org/wiki/Raymond_Kwok',
 'https://en.wikipedia.org/wiki/William_H._Rogers_Jr.',
 'https://en.wikipedia.org/wiki/Brian_Cornell',
 'https://en.wikipedia.org/wiki/Rajesh_Gopinathan',
 'https://en.wikipedia.org/wiki/Li_Dongsheng',
 'https://en.wikipedia.org/wiki/Andy_Penn',
 'https://en.wikipedia.org/wiki/Dave_Lewis',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Alan_D._Schnitzer',
 'https://en.wikipedia.org/wiki/Akio_Toyoda',
 'https://en.wikipedia.org/wiki/Scott_Kirby',
 'https://en.wikipedia.org/wiki/Ralph_Hamers',
 'https://en.wikipedia.org/wiki/Hans_Vestberg',
 'https://en.wikipedia.org/wiki/Robert_Bakish',
 'https://en.wikipedia.org/wiki/Vittorio_Colao',
 'https://en.wikipedia.org/wiki/Herbert_Diess',
 'https://en.wikipedia.org/wiki/Robert_Iger',
 'https://en.wikipedia.org/wiki/Stefano_Pessina',
 'https://en.wikipedia.org/wiki/Doug_McMillon',
 'https://en.wikipedia.org/wiki/Ann_Sarnoff',
 'https://en.wikipedia.org/wiki/Jason_Kilar',
 'https://en.wikipedia.org/wiki/Charles_Scharf',
 'https://en.wikipedia.org/wiki/John_Mackey',
 'https://en.wikipedia.org/wiki/Rich_Barton']

In [38]:
# Use urllib.urlopen to crawl all pages in crawl_list, and store the response of the page
# in list pages

pages = []

for url in crawl_list:
    page = url.split("/")[-1] #extract the person name at the end of the url
    print('Looking at file %s' % page)

    # An issue: some of the accent characters won't work.  We need to convert them
    # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
    # the structure, then re-form the URL
    url_list = list(urllib.parse.urlsplit(url))
    url_list[2] = urllib.parse.quote(url_list[2])
    url_ascii = urllib.parse.urlunsplit(url_list)
    try:
      response = urllib.request.urlopen((url_ascii))
      #Save page and url for later use.
      pages.append(response)
    except urllib.error.URLError as e:
      print(e.reason)

Looking at file Julie_Sweet
Looking at file Kumar_Mangalam_Birla
Looking at file Shantanu_Narayen
Looking at file Guillaume_Faury
Looking at file Eddie_Wu
Looking at file Andy_Jassy
Looking at file Lisa_Su
Looking at file Stephen_Squeri
Looking at file Joseph_R._Swedish
Looking at file Tim_Cook
Looking at file Lakshmi_Niwas_Mittal
Looking at file John_Stankey
Looking at file Charles_Woodburn
Looking at file Tapan_Singhel
Looking at file Carlos_Torres_Vila
Looking at file Brian_Moynihan
Looking at file C.S._Venkatakrishnan
Looking at file Warren_Buffett
Looking at file Hubert_Joly
Looking at file Sunil_Bharti_Mittal
Looking at file Stephen_A._Schwarzman
Looking at file Mike_Henry
Looking at file Oliver_Zipse
Looking at file Dave_Calhoun
Looking at file Rich_Lesser
Looking at file Bob_Dudley
Looking at file Hock_Tan
Looking at file Denise_Morrison
Looking at file Mark_Shuttleworth
Looking at file Richard_Fairbank
Looking at file Jim_Umpleby
Looking at file Evan_Greenberg
Looking at file Chuck_Robbins
Looking at file Jane_Fraser
Looking at file James_Quincey
Looking at file Brian_L._Roberts
Looking at file Thomas_Gottstein
Looking at file Ola_Källenius
Looking at file Michael_Dell
Looking at file Ed_Bastian
Looking at file Christian_Sewing
Looking at file Tobias_Meyer
Looking at file Edward_D._Breen
Looking at file Devin_Wenig
Looking at file Börje_Ekholm
Looking at file Darren_Woods
Looking at file Carmine_Di_Sibio
Looking at file Mark_Zuckerberg
Looking at file Frederick_W._Smith
Looking at file Sergio_Marchionne
Looking at file Abigail_Johnson
Looking at file James_Hackett
Looking at file Terry_Gou
Looking at file Lachlan_Murdoch
Looking at file Phebe_Novakovic
Looking at file H._Lawrence_Culp_Jr.
Looking at file Mary_T._Barra
Looking at file Emma_Walmsley
Looking at file David_M._Solomon
Looking at file Sundar_Pichai
Looking at file C_Vijayakumar
Looking at file Antonio_Neri
Looking at file Darius_Adamczyk
Looking at file Noel_Quinn
Looking at file Arvind_Krishna
Looking at file Salil_Parekh
Looking at file Pat_Gelsinger
Looking at file James_Dimon
Looking at file Pieter_Elbers
Looking at file Charles_G._Koch
Looking at file Marillyn_Hewson
Looking at file Steve_Rowe
Looking at file Chris_Kempczinski
Looking at file Bob_Sternfels
Looking at file Steven_A._Kandarian
Looking at file Isaac_Larian
Looking at file Satya_Nadella
Looking at file James_P._Gorman
Looking at file Jeff_Shell
Looking at file Robert_James_Thomson
Looking at file Mark_Thompson
Looking at file Mark_Parker
Looking at file Pekka_Lundmark
Looking at file Vasant_Narasimhan
Looking at file Tatsumi_Kimishima
Looking at file Safra_Catz
Looking at file Mark_Hurd
Looking at file Ramon_Laguarta
Looking at file Albert_Bourla
Looking at file David_S._Taylor
Looking at file John_Strangfeld
Looking at file Alan_Joyce
Looking at file Anil_Ambani
Looking at file Mukesh_Ambani
Looking at file Luca_de_Meo
Looking at file David_I._McKay
Looking at file Ross_McEwan
Looking at file Ben_van_Beurden
Looking at file Michael_O'Leary
Looking at file Douglas_L._Peterson
Looking at file Oh-Hyun_Kwon
Looking at file Christian_Klein
Looking at file Herbert_Fisk_Johnson_III
Looking at file Jean-Pascal_Tricoire
Looking at file Peter_Harrison
Looking at file Chua_Sock_Koong
Looking at file Masayoshi_Son
Looking at file Tony_Aquila
Looking at file Robert_E._Jordan
Looking at file J._Clifford_Hudson
Looking at file Laxman_Narasimhan
Looking at file Raymond_Kwok
Looking at file William_H._Rogers_Jr.
Looking at file Brian_Cornell
Looking at file Rajesh_Gopinathan
Looking at file Li_Dongsheng
Looking at file Andy_Penn
Looking at file Dave_Lewis
Looking at file Elon_Musk
Looking at file Alan_D._Schnitzer
Looking at file Akio_Toyoda
Looking at file Scott_Kirby
Looking at file Ralph_Hamers
Looking at file Hans_Vestberg
Looking at file Robert_Bakish
Looking at file Vittorio_Colao
Looking at file Herbert_Diess
Looking at file Robert_Iger
Looking at file Stefano_Pessina
Looking at file Doug_McMillon
Looking at file Ann_Sarnoff
Looking at file Jason_Kilar
Looking at file Charles_Scharf
Looking at file John_Mackey
Looking at file Rich_Barton

## Populating the Table with Executives

In [39]:
# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name,
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime
# value is NaT (not a type).

from lxml import etree

rows = []
for page in pages:
  url = page.geturl()
  content = page.read().decode("utf-8")
  tree = etree.HTML(content)  #create a DOM tree of the page
  bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
  if len(bday) > 0:
      name = url[url.rfind('/')+1:] # The part of the URL after the last /
      rows.append({'name': name, 'page': url,
                  'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d')})
  else:
      rows.append({'name': url[url.rfind('/')+1:], 'page': url
                                    , 'born': np.datetime64('NaT')})

exec_df = pd.DataFrame(rows)
exec_df

,name,page,born
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00
3,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00
4,Eddie_Wu,https://en.wikipedia.org/wiki/Eddie_Wu,NaT
...,...,...,...
130,Ann_Sarnoff,https://en.wikipedia.org/wiki/Ann_Sarnoff,NaT
131,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00
132,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00
133,John_Mackey,https://en.wikipedia.org/wiki/John_Mackey,NaT
134,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,NaT

# Lecture Module 2: Data Transformation

Looking at our data to clean via *projection*...

Generally, we can extract one "narrower" table form another by using **double brackets**.

In [ ]:
# Let's take a look at the data.  Here's a way of PROJECTING the exec_df dataframe into
# a smaller table

exec_df[['name', 'born']]

In [ ]:
# If I use single brackets, I can extract a single column as a Series.
exec_df['name']

In [ ]:
# Notice anything awry?

for person in exec_df['name']:
    print (person)

In [ ]:
def to_space(x):
  return x.replace('_', ' ')

# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(to_space)

In [ ]:
# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(lambda x: x.replace('_', ' '))

In [ ]:
# I can also use *apply* to call a function over the rows of a dataframe
exec_df.apply(lambda x: x['name'].replace('_', ' '), axis=1)

In [ ]:
# Let's clean the name by removing underscores...
exec_df['clean_name'] = exec_df['name'].apply(lambda x: x.replace('_', ' '))

exec_df

In [ ]:
exec_df.rename(columns={'name': 'old_name'})

In [ ]:
# We can do the same via SQL.  For the example we'll save the dataframe first...  we'll convert
# types to string first to avoid errors.

temp_df= exec_df.applymap(str)
temp_df.to_sql('temp_exec', conn, if_exists="replace")

pd.read_sql_query('select name, replace(name, "_", " ") as clean_name from temp_exec', conn)

## Selecting a subset of the rows

In [ ]:
# Here's a column

exec_df['clean_name']

In [ ]:
# We can apply a test (predicate) to each column, returning a Series of boolean true/false values

exec_df['clean_name'] == 'Julie Sweet'

In [ ]:
# If we compose these, we'll get only those rows where the boolean condition was True

exec_df[exec_df['clean_name'] == 'Julie Sweet']

In [ ]:
exec_df[exec_df['clean_name'] == 'Julie Sweet'][['page']]

In [ ]:
# And in SQL...

temp_df= exec_df.applymap(str)
temp_df.to_sql('temp_exec', conn, if_exists="replace")

pd.read_sql_query('select * from temp_exec where clean_name="Julie Sweet"', conn)

In [ ]:
pd.read_sql_query('select page from temp_exec where clean_name="Julie Sweet"', conn)

In [ ]:
import numpy as np

exec_df.dropna(subset=['born'])

In [ ]:
pd.read_sql_query('select * from temp_exec where born is not null', conn).set_index('index')

## Joining Data

We start with a simple join between company_ceos_df and exec_df and persist it to the database.  We then check how many companies did not have a match on CEO name.

In [ ]:
exec_df[['clean_name', 'born']]

In [ ]:
# Remove any duplicate executive entries

exec_df = exec_df.drop_duplicates()

In [ ]:
company_ceos_df[['Executive', 'Company']]

In [ ]:
company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'])

In [ ]:
temp_df= company_ceos_df.applymap(str)
temp_df.to_sql('company_ceos', conn, if_exists="replace")
temp_df= exec_df.applymap(str)
temp_df.to_sql('executives', conn, if_exists="replace")
company_data_df.to_sql('company_data', conn, if_exists='replace')

pd.read_sql_query('select Executive, Company, born from company_ceos ' +\
                  'join executives on Executive=clean_name ' +\
                  'where born is not null', conn)

###Finding the misses in the join.

Note that the join above resulted in 174 rows.  However, there are more rows in company_ceos_df so we are missing some companies.  We can see which are missed using a left outer join; setting "indicator= True" allows us to see which tuples in company_ceos_df failed to find a match (left_only, e.g. row 24 and 172).

In [ ]:
pd.set_option('display.max_rows', 200)
display(company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'], how="left", indicator=True))

In [ ]:
pd.set_option('display.max_rows', 50)
result_df = company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'], how="outer", indicator=True)

result_df[result_df['_merge'] != 'both']

## Composing Joins

In [ ]:
pd.read_sql_query('select Executive, Company, born  from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

In [ ]:
pd.read_sql_query('select * from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

In [ ]:
company_ceos_df.merge(exec_df,
                      left_on=['Executive'],
                      right_on=['clean_name']).\
                      merge(company_data_df,
                            left_on='Company',
                            right_on='name')

# Lecture Module 3: Validating and Cleaning Data

How do we know our data is good?  We can create rules that trigger when the data fails some particular set of **constraints**.

In [ ]:
# Test with validation rules

replace_item = ''

failed = False
for name in exec_df['clean_name']:
  if not name.replace(' ', replace_item).\
          replace('.', replace_item).\
          replace('\'',replace_item).\
          replace('-',replace_item).isalpha():
    print ("Illegal name %s"%name)
    failed = True

if failed:
  print('Found illegal names!')

## Data Cleaning: Fixing the Errors

One approach we could take is to realize that these are all strings in which accented characters are specially coded for use in (Wikipedia) URLs.  For instance, %C3 is a hex character code for an accented "u".  We can use a function called `unqote` to fix this...

In [ ]:
from urllib.parse import unquote

exec_df['clean_name'].apply(unquote)

## More Generally: Data Validation Tools

Are there tools to help us validate data?  Of course!  We see an [example](https://validators.readthedocs.io/en/latest/) of one such tool, simply called `validators`, below.  There are many others in the data cleaning literature.

In [ ]:
!pip install validators

In [ ]:
import validators.url

# Are all of the URLs valid?
exec_df['page'].apply(validators.url)

## Validation against a master list

We can also compare against "master" lists (in tables).  For example, company info about stock ticker symbols can be compared against the full list of symbols; states and countries can be compared against definitive lists.

Suppose we want to confirm that `company_data_df` has valid country codes.

In [ ]:
company_data_df[['name','country_code']]

TSome of these are NaNs -- let's drop them...

From someone's Github content, here's a nice list of all countries and region codes.

In [ ]:
countries_df = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")

display(countries_df)

In [ ]:
validated = company_data_df.merge(countries_df, left_on=['country_code'], right_on=['alpha-3'],
                      how='left', indicator=True)

validated[validated['_merge'] != 'both']

## Record Linking: Working around the Errors

Rather than figuring out how to clean these characters, we'll instead look at doing approximate matching.

Now we'll need to import some similarity matching code, to do approximate match between the original names and those returned by Wikipedia

In [ ]:
# We are going to match the strings approximately, via "n-grams" or "q-grams" (sequences of n or q characters)
# Here it's five-grams

tok = sm.QgramTokenizer(qval=5,return_set=True)

In [ ]:
import py_stringsimjoin as ssj
import py_stringmatching as sm
import pandas as pd
import os, sys

In [ ]:
print('python version: ' + sys.version)
print('py_stringsimjoin version: ' + ssj.__version__)
print('py_stringmatching version: ' + sm.__version__)
print('pandas version: ' + pd.__version__)

In [ ]:
# Now let's do a similarity join

# We'll reset the index, so there is a unique index field in the company_ceos_df dataframe
company_ceos_df.reset_index(inplace=True)

output_pairs = ssj.jaccard_join(company_ceos_df, exec_df, 'index', 'page', 'Executive', 'clean_name', tok, 0.35,
                                l_out_attrs=['Executive'], r_out_attrs=['name'])

output_pairs[output_pairs['_sim_score'] < 1.0]

In [ ]:
# At last! Company info + CEO info, together!

total = company_ceos_df.merge(output_pairs,left_on=['Executive'],right_on=['l_Executive']).\
        merge(exec_df,left_on=['r_page'],right_on=['page']).\
        merge(company_data_df, left_on='Company', right_on='name', how="left")

total

In [ ]:
# Let's get ready to plot

%matplotlib inline

In [ ]:
total

## Simple Analysis of Linked Data: Grouping and Analytics

The `groupby` command allows us to coalesce data by groups.  In Pandas a Group is a special object with a set of rows.  We can see this with the `get_group` command.

In [ ]:
total[['born','Company','Executive']].sort_values('born')

In [ ]:
total.groupby(by='born').get_group(datetime.datetime.strptime('1935-11-01', '%Y-%m-%d'))[['Company','Executive','born']]

We can apply computations, such as `count`, to the items in the group.  Values that are empty (NaN) do not count (no pun intended).

In [ ]:
total.groupby(by='born').count()

In [ ]:
# We can do this in SQL too...

### Until pandas 0.15, there is a bug in converting datetimes to sqllite
### so we have to copy to a string instead
total2 = total.copy()
total2['born'] = total2['born'].apply(lambda x: str(x))

total2.to_sql('total_info', conn, if_exists='replace', index=False)

# By default, SQL will include the Nan value (called NULL in SQL).  If we want to exclude it,
# we need to include WHERE ... IS NOT NULL.

pd.read_sql('select born, count(Company) from total_info ' +\
            'where born is not null group by born', conn)

In [ ]:
total2 = total.dropna()
total2['born'] = total2['born'].astype('datetime64[ns]')

In [ ]:
# Let's look at when the CEOs were born

birthdays = total2.groupby(by='born').count()[['Executive']]
birthdays.index = pd.to_datetime(birthdays.index, unit='s')

birthdays

We can actually use `resample` over dates, with a parameter, to group eg by decade (10 years, where A is the code for year):

In [ ]:
birthdays.resample('10A').count().plot(kind='bar')

Maybe that's a little weird.  Can we do something more along the lines of what we expect, i.e., "1920s, 1930s, ..."?

In [ ]:
# Get rid of the nulls!
bdays = total[['born']].dropna()

bdays = bdays.applymap(lambda bday: str(int(bday.year / 10) * 10) + 's')

bdays.reset_index().groupby('born').count().plot(kind='bar')

# An Exercise

Is there a correlation between the kind of company and the age of the CEO?

Does the company's line of business matter?