<a href="https://colab.research.google.com/github/zackives/upenn-cis-2450/blob/main/Module_1_Data_Acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview of Part I of Big Data Analytics

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook will be built incrementally to consider several tasks:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)
* Basic manipulation using SQL in DuckDB

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking
  * Different techniques

## The Motivating Question
To illustrate the principles, we focus on the question of **how old company CEOs and founders** (in general, leaders) are.  The question was in part motivated by the following New York Times article:

* Founders of Successful Tech Companies Are Mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test this hypothesis!

## Initial Libraries

We'll be using [DuckDB](https://duckdb.org/) as a means of managing our tables.  DuckDB works like a Python library, but manages a full SQL database (in files).  It also integrates very nicely with Pandas, so we'll use it in this course.

In [ ]:
!pip3 install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.10.3)

In [ ]:
!pip3 install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)

In [ ]:
%%writefile notebook-config.yaml

grader_api_url: 'https://23whrwph9h.execute-api.us-east-1.amazonaws.com/default/Grader23'
grader_api_key: 'flfkE736fA6Z8GxMDJe2q8Kfk8UDqjsG3GVqOFOa'

Writing notebook-config.yaml

In [ ]:
!pip3 install penngrader-client

Collecting penngrader-client
  Downloading penngrader_client-0.5.2-py3-none-any.whl.metadata (15 kB)
Collecting dill (from penngrader-client)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from penngrader-client) (6.0.2)
Downloading penngrader_client-0.5.2-py3-none-any.whl (10 kB)
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 4.7 MB/s eta 0:00:00
Installing collected packages: dill, penngrader-client
Successfully installed dill-0.3.8 penngrader-client-0.5.2

For quiz credit you'll need to update your student ID here!

In [ ]:
#PLEASE ENSURE YOUR PENN-ID IS ENTERED CORRECTLY. IF NOT, THE AUTOGRADER WON'T KNOW WHO
#TO ASSIGN POINTS TO YOU IN OUR BACKEND
STUDENT_ID = 99999999 # YOUR PENN-ID GOES HERE AS AN INTEGER##PLEASE ENSURE YOUR PENN-ID IS ENTERED CORRECTLY. IF NOT, THE AUTOGRADER WON'T KNOW WHO

Quizzes will cumulatively count as HW9... Don't edit this...

In [ ]:
%set_env HW_ID=cis2450_fall24_HW9

env: HW_ID=cis2450_fall24_HW9

In [ ]:
import os
from penngrader.grader import *

grader = PennGrader('notebook-config.yaml', os.environ['HW_ID'], STUDENT_ID, STUDENT_ID)

PennGrader initialized with Student ID: 99999999

Make sure this correct or we will not be able to store your grade

In [ ]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import duckdb

# Data visualization
import matplotlib

# 1. Acquiring External Data

To test our hypothesis, we might want:

1. A list of companies (and, for futher details, perhaps their lines of business)
2. A list of company CEOs
3. Ages of the CEOs

We'll go through each of these using real data from the web.

### Reading Structured Data Sources

Let's start by looking up data about companies.  We are using a dataset from: https://www.kaggle.com/datasets/peopledatalabssf/free-7-million-company-dataset?resource=download

but we have a copy of it at an alternate site for convenience of downloading.

## 1.1. External CSV Data

Comma-separated values are generally easy to read. The main questions are column headings (which are in an optional row that isn't always provided) and datatypes (which might default to the wrong thing).

In [ ]:
!wget -nc https://storage.googleapis.com/penn-cis5450/companies_sorted.csv

--2024-08-26 22:45:18--  https://storage.googleapis.com/penn-cis5450/companies_sorted.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.251.2.207, 142.250.141.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1085578742 (1.0G) [text/csv]
Saving to: ‘companies_sorted.csv’

companies_sorted.cs 100%[===================>]   1.01G  51.7MB/s    in 18s

2024-08-26 22:45:36 (57.3 MB/s) - ‘companies_sorted.csv’ saved [1085578742/1085578742]

In [ ]:
# This reads remotely. To avoid multiple fetches, we'll instead..

# data = urllib.request.urlopen(\
#        'https://storage.googleapis.com/penn-cis5450/companies_sorted.csv')
# company_data_df = pd.read_csv(data)

## ... instead copy to a local file and read there...

company_data_df = pd.read_csv('companies_sorted.csv')

company_data_df

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960
...,...,...,...,...,...,...,...,...,...,...,...
7173421,1494427,certiport vouchers,certiportvouchers.com,2011.0,information technology and services,1 - 10,NaN,NaN,linkedin.com/company/certiport-vouchers,0,1
7173422,1494429,black tiger fight club,blacktigerclub.com,2006.0,"health, wellness and fitness",1 - 10,"peking, beijing, china",china,linkedin.com/company/black-tiger-club-hero,0,6
7173423,4768462,catholic bishop of chicago,NaN,NaN,religious institutions,1 - 10,"inverness, illinois, united states",united states,linkedin.com/company/catholic-bishop-of-chicago,0,1
7173424,1494436,medexo robotics ltd,NaN,NaN,research,1 - 10,"london, london, united kingdom",united kingdom,linkedin.com/company/medexo-robotics-ltd,0,2
7173425,2842728,dynamic controls solutions inc,dynamiccontrolssolutions.com,NaN,automotive,1 - 10,"wixom, michigan, united states",united states,linkedin.com/company/dynamic-controls-solution...,0,1

Now let's use DuckDB to work with the dataframe.

In [ ]:
# We can ask for the contents of a Pandas Dataframe through DuckDB, in the SQL language.
duckdb.sql('select * from company_data_df')

┌────────────┬──────────────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│ Unnamed: 0 │         name         │ … │     linkedin url     │ current employee e…  │ total employee est…  │
│   int64    │       varchar        │   │       varchar        │        int64         │        int64         │
├────────────┼──────────────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│    5872184 │ ibm                  │ … │ linkedin.com/compa…  │               274047 │               716906 │
│    4425416 │ tata consultancy s…  │ … │ linkedin.com/compa…  │               190771 │               341369 │
│      21074 │ accenture            │ … │ linkedin.com/compa…  │               190689 │               455768 │
│    2309813 │ us army              │ … │ linkedin.com/compa…  │               162163 │               445958 │
│    1558607 │ ey                   │ … │ linkedin.com/compa…  │               158363 │               428960 │
│    3844889 │ hewlett-packard      │ … │ linkedin.com/compa…  │               127952 │               412952 │
│    2959148 │ cognizant technolo…  │ … │ linkedin.com/compa…  │               122031 │               210020 │
│    5944912 │ walmart              │ … │ linkedin.com/compa…  │               120753 │               272827 │
│    3727010 │ microsoft            │ … │ linkedin.com/compa…  │               116196 │               276983 │
│    3300741 │ at&t                 │ … │ linkedin.com/compa…  │               115188 │               269659 │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│    4782764 │ jönköpings kommun    │ … │ linkedin.com/compa…  │                 1118 │                 1964 │
│    3432133 │ jmc projects india…  │ … │ linkedin.com/compa…  │                 1118 │                 2112 │
│     910050 │ öbb                  │ … │ linkedin.com/compa…  │                 1118 │                 1546 │
│    6444131 │ vaillant group       │ … │ linkedin.com/compa…  │                 1118 │                 2540 │
│     916799 │ embracon administr…  │ … │ linkedin.com/compa…  │                 1118 │                 2240 │
│    3585785 │ university of chic…  │ … │ linkedin.com/compa…  │                 1118 │                 3220 │
│    2583172 │ pantaloon retail i…  │ … │ linkedin.com/compa…  │                 1118 │                 4723 │
│    1406043 │ nv energy            │ … │ linkedin.com/compa…  │                 1118 │                 1834 │
│     955441 │ mining               │ … │ linkedin.com/compa…  │                 1118 │                 1421 │
│    5571765 │ university of stir…  │ … │ linkedin.com/compa…  │                 1118 │                 2680 │
├────────────┴──────────────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                         11 columns (5 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 1.2. Storing Data Locally and Re-Loading it

DuckDB nicely integrates with Pandas and Python. If you create a connection to a file, this results in the creation of a database stored within that file.

Normally we need to `CREATE TABLE` with the table name and columns. But we can actually create the table to match the *schema* of the DataFrame, as follows.

In [ ]:
con = duckdb.connect('local.db')
con.sql('create table if not exists company_data as select * from company_data_df')

# query the table
con.table("company_data").show()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌────────────┬──────────────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│ Unnamed: 0 │         name         │ … │     linkedin url     │ current employee e…  │ total employee est…  │
│   int64    │       varchar        │   │       varchar        │        int64         │        int64         │
├────────────┼──────────────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│    5872184 │ ibm                  │ … │ linkedin.com/compa…  │               274047 │               716906 │
│    4425416 │ tata consultancy s…  │ … │ linkedin.com/compa…  │               190771 │               341369 │
│      21074 │ accenture            │ … │ linkedin.com/compa…  │               190689 │               455768 │
│    2309813 │ us army              │ … │ linkedin.com/compa…  │               162163 │               445958 │
│    1558607 │ ey                   │ … │ linkedin.com/compa…  │               158363 │               428960 │
│    3844889 │ hewlett-packard      │ … │ linkedin.com/compa…  │               127952 │               412952 │
│    2959148 │ cognizant technolo…  │ … │ linkedin.com/compa…  │               122031 │               210020 │
│    5944912 │ walmart              │ … │ linkedin.com/compa…  │               120753 │               272827 │
│    3727010 │ microsoft            │ … │ linkedin.com/compa…  │               116196 │               276983 │
│    3300741 │ at&t                 │ … │ linkedin.com/compa…  │               115188 │               269659 │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│    4782764 │ jönköpings kommun    │ … │ linkedin.com/compa…  │                 1118 │                 1964 │
│    3432133 │ jmc projects india…  │ … │ linkedin.com/compa…  │                 1118 │                 2112 │
│     910050 │ öbb                  │ … │ linkedin.com/compa…  │                 1118 │                 1546 │
│    6444131 │ vaillant group       │ … │ linkedin.com/compa…  │                 1118 │                 2540 │
│     916799 │ embracon administr…  │ … │ linkedin.com/compa…  │                 1118 │                 2240 │
│    3585785 │ university of chic…  │ … │ linkedin.com/compa…  │                 1118 │                 3220 │
│    2583172 │ pantaloon retail i…  │ … │ linkedin.com/compa…  │                 1118 │                 4723 │
│    1406043 │ nv energy            │ … │ linkedin.com/compa…  │                 1118 │                 1834 │
│     955441 │ mining               │ … │ linkedin.com/compa…  │                 1118 │                 1421 │
│    5571765 │ university of stir…  │ … │ linkedin.com/compa…  │                 1118 │                 2680 │
├────────────┴──────────────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                         11 columns (5 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
company_data_df = con.table("company_data").df()

company_data_df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960
...,...,...,...,...,...,...,...,...,...,...,...
7173421,1494427,certiport vouchers,certiportvouchers.com,2011.0,information technology and services,1 - 10,None,None,linkedin.com/company/certiport-vouchers,0,1
7173422,1494429,black tiger fight club,blacktigerclub.com,2006.0,"health, wellness and fitness",1 - 10,"peking, beijing, china",china,linkedin.com/company/black-tiger-club-hero,0,6
7173423,4768462,catholic bishop of chicago,None,NaN,religious institutions,1 - 10,"inverness, illinois, united states",united states,linkedin.com/company/catholic-bishop-of-chicago,0,1
7173424,1494436,medexo robotics ltd,None,NaN,research,1 - 10,"london, london, united kingdom",united kingdom,linkedin.com/company/medexo-robotics-ltd,0,2
7173425,2842728,dynamic controls solutions inc,dynamiccontrolssolutions.com,NaN,automotive,1 - 10,"wixom, michigan, united states",united states,linkedin.com/company/dynamic-controls-solution...,0,1

## 1.3. Companies' CEOs: a Web Table

Now we need to figure out who the CEOs are for corporations.  One place to look is Wikipedia, which has an HTML table describing the CEOs.

https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs

Pandas actually makes it easy to read HTML tables...

In [ ]:
# Now let's read an HTML table!

company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[1]

company_ceos_df

,Company,Executive,Title,Since,Notes,Updated
0,Accenture,Julie Sweet,CEO[1],2019,"Succeeded Pierre Nanterme, died",2019-01-31
1,Aditya Birla Group,Kumar Mangalam Birla,Chairman[2],1995[2],Part of the Birla family business house in India,2018-10-01
2,Adobe Systems,Shantanu Narayen,"Chairman, president and CEO[3]",2007,Formerly with Apple,2018-10-01
3,Airbus,Guillaume Faury,CEO[4],2012,Succeeded Louis Gallois,2017-11-14
4,Alibaba,Eddie Wu,Director and CEO[5],2023[6],NaN,2024-07-19
...,...,...,...,...,...,...
130,Warner Brothers,Ann Sarnoff,Chairwoman and CEO[122],2019,First woman to hold the position at the compan...,2019-10-10
131,WarnerMedia,Jason Kilar,CEO[123],2020,Previously with Hulu and Amazon,2020-11-19
132,Wells Fargo,Charles Scharf,CEO and president[124],2019,"Succeeded John Stumpf, previously COO",NaN
133,Whole Foods Market,John Mackey,CEO[125],1980,Co-founder,2017-11-11
134,Zillow Group,Rich Barton,CEO[126],2019,Co-founder and previously was Zillow's CEO for...,2018-12-10

In [ ]:
con.sql('create table if not exists company_ceos as select * from company_ceos_df')

con.table('company_ceos').show()

┌──────────────────────┬──────────────────────┬──────────────────────┬─────────┬──────────────────────────┬────────────┐
│       Company        │      Executive       │        Title         │  Since  │          Notes           │  Updated   │
│       varchar        │       varchar        │       varchar        │ varchar │         varchar          │  varchar   │
├──────────────────────┼──────────────────────┼──────────────────────┼─────────┼──────────────────────────┼────────────┤
│ Accenture            │ Julie Sweet          │ CEO[1]               │ 2019    │ Succeeded Pierre Nante…  │ 2019-01-31 │
│ Aditya Birla Group   │ Kumar Mangalam Birla │ Chairman[2]          │ 1995[2] │ Part of the Birla fami…  │ 2018-10-01 │
│ Adobe Systems        │ Shantanu Narayen     │ Chairman, presiden…  │ 2007    │ Formerly with Apple      │ 2018-10-01 │
│ Airbus               │ Guillaume Faury      │ CEO[4]               │ 2012    │ Succeeded Louis Gallois  │ 2017-11-14 │
│ Alibaba              │ Eddie Wu             │ Director and CEO[5]  │ 2023[6] │ NULL                     │ 2024-07-19 │
│ Amazon               │ Andy Jassy           │ CEO and president[7] │ 2021    │ NULL                     │ NULL       │
│ Advanced Micro Dev…  │ Lisa Su              │ CEO and president[8] │ 2014    │ Formerly with Texas In…  │ 2018-10-01 │
│ American Express     │ Stephen Squeri       │ Chairman and CEO[9]  │ 2018    │ Former vice chairman o…  │ 2018-10-01 │
│ Anthem               │ Joseph R. Swedish    │ Chairman, presiden…  │ 2013    │ Previously with Centur…  │ 2018-10-01 │
│ Apple                │ Tim Cook             │ CEO[11]              │ 2011    │ Replaced Steve Jobs      │ 2018-10-01 │
│   ·                  │    ·                 │    ·                 │  ·      │          ·               │     ·      │
│   ·                  │    ·                 │    ·                 │  ·      │          ·               │     ·      │
│   ·                  │    ·                 │    ·                 │  ·      │          ·               │     ·      │
│ Vodafone             │ Vittorio Colao       │ CEO[117]             │ 2008    │ Also director at Unile…  │ 2017-11-11 │
│ Volkswagen Group     │ Herbert Diess        │ Chairman of the ma…  │ 2018    │ Succeeded Matthias Mül…  │ 2017-11-11 │
│ Walt Disney Company  │ Robert Iger          │ CEO[119]             │ 2022    │ Previously led Disney …  │ 2020-03-02 │
│ Walgreens Boots Al…  │ Stefano Pessina      │ Executive vice cha…  │ 2015    │ Holding company of Wal…  │ 2017-11-11 │
│ Walmart              │ Doug McMillon        │ President and CEO[…  │ 2014    │ Previously lead for Sa…  │ 2017-11-11 │
│ Warner Brothers      │ Ann Sarnoff          │ Chairwoman and CEO…  │ 2019    │ First woman to hold th…  │ 2019-10-10 │
│ WarnerMedia          │ Jason Kilar          │ CEO[123]             │ 2020    │ Previously with Hulu a…  │ 2020-11-19 │
│ Wells Fargo          │ Charles Scharf       │ CEO and president[…  │ 2019    │ Succeeded John Stumpf,…  │ NULL       │
│ Whole Foods Market   │ John Mackey          │ CEO[125]             │ 1980    │ Co-founder               │ 2017-11-11 │
│ Zillow Group         │ Rich Barton          │ CEO[126]             │ 2019    │ Co-founder and previou…  │ 2018-12-10 │
├──────────────────────┴──────────────────────┴──────────────────────┴─────────┴──────────────────────────┴────────────┤
│ 135 rows (20 shown)                                                                                        6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 1.4. The Problem Gets Harder... Extracting Fields from Tagged Data on the Web

So far we have companies and CEOs.  But we don't have information on how old the CEOs are!

For a solution, we're going to go back to Wikipedia -- this time looking at the web pages for the CEOs!

This involves "crawling" the CEO pages, and "scraping" the relevant content.  In other words we have to do *information extraction*.  For this particular problem, we will do extraction over very regular parts of Wikipedia.

We'll start by constructing a list of CEO web pages, from the Company CEO dataframe above.  For this, we need to take the names and do a bit of tweaking, for example adding underscores instead of spaces.

(Later we'll see how to do this over more free-form text.)

In [ ]:
crawl_list = []

for executive in company_ceos_df['Executive']:
  crawl_list.append('https://en.wikipedia.org/wiki/' + executive.replace(' ', '_'))

crawl_list

['https://en.wikipedia.org/wiki/Julie_Sweet',
 'https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla',
 'https://en.wikipedia.org/wiki/Shantanu_Narayen',
 'https://en.wikipedia.org/wiki/Guillaume_Faury',
 'https://en.wikipedia.org/wiki/Eddie_Wu',
 'https://en.wikipedia.org/wiki/Andy_Jassy',
 'https://en.wikipedia.org/wiki/Lisa_Su',
 'https://en.wikipedia.org/wiki/Stephen_Squeri',
 'https://en.wikipedia.org/wiki/Joseph_R._Swedish',
 'https://en.wikipedia.org/wiki/Tim_Cook',
 'https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal',
 'https://en.wikipedia.org/wiki/John_Stankey',
 'https://en.wikipedia.org/wiki/Charles_Woodburn',
 'https://en.wikipedia.org/wiki/Tapan_Singhel',
 'https://en.wikipedia.org/wiki/Carlos_Torres_Vila',
 'https://en.wikipedia.org/wiki/Brian_Moynihan',
 'https://en.wikipedia.org/wiki/C.S._Venkatakrishnan',
 'https://en.wikipedia.org/wiki/Warren_Buffett',
 'https://en.wikipedia.org/wiki/Hubert_Joly',
 'https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal',
 'https://en.wikipedia.org/wiki/Stephen_A._Schwarzman',
 'https://en.wikipedia.org/wiki/Mike_Henry',
 'https://en.wikipedia.org/wiki/Oliver_Zipse',
 'https://en.wikipedia.org/wiki/Dave_Calhoun',
 'https://en.wikipedia.org/wiki/Rich_Lesser',
 'https://en.wikipedia.org/wiki/Bob_Dudley',
 'https://en.wikipedia.org/wiki/Hock_Tan',
 'https://en.wikipedia.org/wiki/Denise_Morrison',
 'https://en.wikipedia.org/wiki/Mark_Shuttleworth',
 'https://en.wikipedia.org/wiki/Richard_Fairbank',
 'https://en.wikipedia.org/wiki/Jim_Umpleby',
 'https://en.wikipedia.org/wiki/Evan_Greenberg',
 'https://en.wikipedia.org/wiki/Chuck_Robbins',
 'https://en.wikipedia.org/wiki/Jane_Fraser',
 'https://en.wikipedia.org/wiki/James_Quincey',
 'https://en.wikipedia.org/wiki/Brian_L._Roberts',
 'https://en.wikipedia.org/wiki/Thomas_Gottstein',
 'https://en.wikipedia.org/wiki/Ola_Källenius',
 'https://en.wikipedia.org/wiki/Michael_Dell',
 'https://en.wikipedia.org/wiki/Ed_Bastian',
 'https://en.wikipedia.org/wiki/Christian_Sewing',
 'https://en.wikipedia.org/wiki/Tobias_Meyer',
 'https://en.wikipedia.org/wiki/Edward_D._Breen',
 'https://en.wikipedia.org/wiki/Devin_Wenig',
 'https://en.wikipedia.org/wiki/Börje_Ekholm',
 'https://en.wikipedia.org/wiki/Darren_Woods',
 'https://en.wikipedia.org/wiki/Carmine_Di_Sibio',
 'https://en.wikipedia.org/wiki/Mark_Zuckerberg',
 'https://en.wikipedia.org/wiki/Frederick_W._Smith',
 'https://en.wikipedia.org/wiki/Sergio_Marchionne',
 'https://en.wikipedia.org/wiki/Abigail_Johnson',
 'https://en.wikipedia.org/wiki/James_Hackett',
 'https://en.wikipedia.org/wiki/Terry_Gou',
 'https://en.wikipedia.org/wiki/Lachlan_Murdoch',
 'https://en.wikipedia.org/wiki/Phebe_Novakovic',
 'https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.',
 'https://en.wikipedia.org/wiki/Mary_T._Barra',
 'https://en.wikipedia.org/wiki/Emma_Walmsley',
 'https://en.wikipedia.org/wiki/David_M._Solomon',
 'https://en.wikipedia.org/wiki/Sundar_Pichai',
 'https://en.wikipedia.org/wiki/C_Vijayakumar',
 'https://en.wikipedia.org/wiki/Antonio_Neri',
 'https://en.wikipedia.org/wiki/Darius_Adamczyk',
 'https://en.wikipedia.org/wiki/Noel_Quinn',
 'https://en.wikipedia.org/wiki/Arvind_Krishna',
 'https://en.wikipedia.org/wiki/Salil_Parekh',
 'https://en.wikipedia.org/wiki/Pat_Gelsinger',
 'https://en.wikipedia.org/wiki/James_Dimon',
 'https://en.wikipedia.org/wiki/Pieter_Elbers',
 'https://en.wikipedia.org/wiki/Charles_G._Koch',
 'https://en.wikipedia.org/wiki/Marillyn_Hewson',
 'https://en.wikipedia.org/wiki/Steve_Rowe',
 'https://en.wikipedia.org/wiki/Chris_Kempczinski',
 'https://en.wikipedia.org/wiki/Bob_Sternfels',
 'https://en.wikipedia.org/wiki/Steven_A._Kandarian',
 'https://en.wikipedia.org/wiki/Isaac_Larian',
 'https://en.wikipedia.org/wiki/Satya_Nadella',
 'https://en.wikipedia.org/wiki/James_P._Gorman',
 'https://en.wikipedia.org/wiki/Jeff_Shell',
 'https://en.wikipedia.org/wiki/Robert_James_Thomson',
 'https://en.wikipedia.org/wiki/Mark_Thompson',
 'https://en.wikipedia.org/wiki/Mark_Parker',
 'https://en.wikipedia.org/wiki/Pekka_Lundmark',
 'https://en.wikipedia.org/wiki/Vasant_Narasimhan',
 'https://en.wikipedia.org/wiki/Tatsumi_Kimishima',
 'https://en.wikipedia.org/wiki/Safra_Catz',
 'https://en.wikipedia.org/wiki/Mark_Hurd',
 'https://en.wikipedia.org/wiki/Ramon_Laguarta',
 'https://en.wikipedia.org/wiki/Albert_Bourla',
 'https://en.wikipedia.org/wiki/David_S._Taylor',
 'https://en.wikipedia.org/wiki/John_Strangfeld',
 'https://en.wikipedia.org/wiki/Alan_Joyce',
 'https://en.wikipedia.org/wiki/Anil_Ambani',
 'https://en.wikipedia.org/wiki/Mukesh_Ambani',
 'https://en.wikipedia.org/wiki/Luca_de_Meo',
 'https://en.wikipedia.org/wiki/David_I._McKay',
 'https://en.wikipedia.org/wiki/Ross_McEwan',
 'https://en.wikipedia.org/wiki/Ben_van_Beurden',
 "https://en.wikipedia.org/wiki/Michael_O'Leary",
 'https://en.wikipedia.org/wiki/Douglas_L._Peterson',
 'https://en.wikipedia.org/wiki/Oh-Hyun_Kwon',
 'https://en.wikipedia.org/wiki/Christian_Klein',
 'https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III',
 'https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire',
 'https://en.wikipedia.org/wiki/Peter_Harrison',
 'https://en.wikipedia.org/wiki/Chua_Sock_Koong',
 'https://en.wikipedia.org/wiki/Masayoshi_Son',
 'https://en.wikipedia.org/wiki/Tony_Aquila',
 'https://en.wikipedia.org/wiki/Robert_E._Jordan',
 'https://en.wikipedia.org/wiki/J._Clifford_Hudson',
 'https://en.wikipedia.org/wiki/Laxman_Narasimhan',
 'https://en.wikipedia.org/wiki/Raymond_Kwok',
 'https://en.wikipedia.org/wiki/William_H._Rogers_Jr.',
 'https://en.wikipedia.org/wiki/Brian_Cornell',
 'https://en.wikipedia.org/wiki/Rajesh_Gopinathan',
 'https://en.wikipedia.org/wiki/Li_Dongsheng',
 'https://en.wikipedia.org/wiki/Andy_Penn',
 'https://en.wikipedia.org/wiki/Dave_Lewis',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Alan_D._Schnitzer',
 'https://en.wikipedia.org/wiki/Akio_Toyoda',
 'https://en.wikipedia.org/wiki/Scott_Kirby',
 'https://en.wikipedia.org/wiki/Ralph_Hamers',
 'https://en.wikipedia.org/wiki/Hans_Vestberg',
 'https://en.wikipedia.org/wiki/Robert_Bakish',
 'https://en.wikipedia.org/wiki/Vittorio_Colao',
 'https://en.wikipedia.org/wiki/Herbert_Diess',
 'https://en.wikipedia.org/wiki/Robert_Iger',
 'https://en.wikipedia.org/wiki/Stefano_Pessina',
 'https://en.wikipedia.org/wiki/Doug_McMillon',
 'https://en.wikipedia.org/wiki/Ann_Sarnoff',
 'https://en.wikipedia.org/wiki/Jason_Kilar',
 'https://en.wikipedia.org/wiki/Charles_Scharf',
 'https://en.wikipedia.org/wiki/John_Mackey',
 'https://en.wikipedia.org/wiki/Rich_Barton']

In [ ]:
# Use urllib.urlopen to crawl all pages in crawl_list, and store the response of the page
# in list pages

pages = []

for url in crawl_list:
    page = url.split("/")[-1] #extract the person name at the end of the url

    # An issue: some of the accent characters won't work.  We need to convert them
    # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
    # the structure, then re-form the URL
    url_list = list(urllib.parse.urlsplit(url))
    url_list[2] = urllib.parse.quote(url_list[2])
    url_ascii = urllib.parse.urlunsplit(url_list)
    try:
      response = urllib.request.urlopen((url_ascii))
      #Save page and url for later use.
      pages.append(response)
    except urllib.error.URLError as e:
      print(e.reason)

## 1.5. Crawling: Populating the Table with Executives

In [ ]:
# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name,
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime
# value is NaT (not a type).

from lxml import etree

rows = []
for page in pages:
  url = page.geturl()
  print (url)
  content = page.read().decode("utf-8")
  tree = etree.HTML(content)  #create a DOM tree of the page
  bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
  if len(bday) > 0:
      name = url[url.rfind('/')+1:] # The part of the URL after the last /
      rows.append({'name': name, 'page': url,
                  'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d')})
  else:
          rows.append({'name': url[url.rfind('/')+1:], 'page': url
                                    , 'born': np.datetime64('NaT')})

exec_df = pd.DataFrame(rows)
exec_df

https://en.wikipedia.org/wiki/Julie_Sweet
https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla
https://en.wikipedia.org/wiki/Shantanu_Narayen
https://en.wikipedia.org/wiki/Guillaume_Faury
https://en.wikipedia.org/wiki/Eddie_Wu
https://en.wikipedia.org/wiki/Andy_Jassy
https://en.wikipedia.org/wiki/Lisa_Su
https://en.wikipedia.org/wiki/Stephen_Squeri
https://en.wikipedia.org/wiki/Joseph_R._Swedish
https://en.wikipedia.org/wiki/Tim_Cook
https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal
https://en.wikipedia.org/wiki/John_Stankey
https://en.wikipedia.org/wiki/Charles_Woodburn
https://en.wikipedia.org/wiki/Tapan_Singhel
https://en.wikipedia.org/wiki/Carlos_Torres_Vila
https://en.wikipedia.org/wiki/Brian_Moynihan
https://en.wikipedia.org/wiki/C.S._Venkatakrishnan
https://en.wikipedia.org/wiki/Warren_Buffett
https://en.wikipedia.org/wiki/Hubert_Joly
https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal
https://en.wikipedia.org/wiki/Stephen_A._Schwarzman
https://en.wikipedia.org/wiki/Mike_Henry
https://en.wikipedia.org/wiki/Oliver_Zipse
https://en.wikipedia.org/wiki/Dave_Calhoun
https://en.wikipedia.org/wiki/Rich_Lesser
https://en.wikipedia.org/wiki/Bob_Dudley
https://en.wikipedia.org/wiki/Hock_Tan
https://en.wikipedia.org/wiki/Denise_Morrison
https://en.wikipedia.org/wiki/Mark_Shuttleworth
https://en.wikipedia.org/wiki/Richard_Fairbank
https://en.wikipedia.org/wiki/Jim_Umpleby
https://en.wikipedia.org/wiki/Evan_Greenberg
https://en.wikipedia.org/wiki/Chuck_Robbins
https://en.wikipedia.org/wiki/Jane_Fraser
https://en.wikipedia.org/wiki/James_Quincey
https://en.wikipedia.org/wiki/Brian_L._Roberts
https://en.wikipedia.org/wiki/Thomas_Gottstein
https://en.wikipedia.org/wiki/Ola_K%C3%A4llenius
https://en.wikipedia.org/wiki/Michael_Dell
https://en.wikipedia.org/wiki/Ed_Bastian
https://en.wikipedia.org/wiki/Christian_Sewing
https://en.wikipedia.org/wiki/Tobias_Meyer
https://en.wikipedia.org/wiki/Edward_D._Breen
https://en.wikipedia.org/wiki/Devin_Wenig
https://en.wikipedia.org/wiki/B%C3%B6rje_Ekholm
https://en.wikipedia.org/wiki/Darren_Woods
https://en.wikipedia.org/wiki/Carmine_Di_Sibio
https://en.wikipedia.org/wiki/Mark_Zuckerberg
https://en.wikipedia.org/wiki/Frederick_W._Smith
https://en.wikipedia.org/wiki/Sergio_Marchionne
https://en.wikipedia.org/wiki/Abigail_Johnson
https://en.wikipedia.org/wiki/James_Hackett
https://en.wikipedia.org/wiki/Terry_Gou
https://en.wikipedia.org/wiki/Lachlan_Murdoch
https://en.wikipedia.org/wiki/Phebe_Novakovic
https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.
https://en.wikipedia.org/wiki/Mary_T._Barra
https://en.wikipedia.org/wiki/Emma_Walmsley
https://en.wikipedia.org/wiki/David_M._Solomon
https://en.wikipedia.org/wiki/Sundar_Pichai
https://en.wikipedia.org/wiki/C_Vijayakumar
https://en.wikipedia.org/wiki/Antonio_Neri
https://en.wikipedia.org/wiki/Darius_Adamczyk
https://en.wikipedia.org/wiki/Noel_Quinn
https://en.wikipedia.org/wiki/Arvind_Krishna
https://en.wikipedia.org/wiki/Salil_Parekh
https://en.wikipedia.org/wiki/Pat_Gelsinger
https://en.wikipedia.org/wiki/James_Dimon
https://en.wikipedia.org/wiki/Pieter_Elbers
https://en.wikipedia.org/wiki/Charles_G._Koch
https://en.wikipedia.org/wiki/Marillyn_Hewson
https://en.wikipedia.org/wiki/Steve_Rowe
https://en.wikipedia.org/wiki/Chris_Kempczinski
https://en.wikipedia.org/wiki/Bob_Sternfels
https://en.wikipedia.org/wiki/Steven_A._Kandarian
https://en.wikipedia.org/wiki/Isaac_Larian
https://en.wikipedia.org/wiki/Satya_Nadella
https://en.wikipedia.org/wiki/James_P._Gorman
https://en.wikipedia.org/wiki/Jeff_Shell
https://en.wikipedia.org/wiki/Robert_James_Thomson
https://en.wikipedia.org/wiki/Mark_Thompson
https://en.wikipedia.org/wiki/Mark_Parker
https://en.wikipedia.org/wiki/Pekka_Lundmark
https://en.wikipedia.org/wiki/Vasant_Narasimhan
https://en.wikipedia.org/wiki/Tatsumi_Kimishima
https://en.wikipedia.org/wiki/Safra_Catz
https://en.wikipedia.org/wiki/Mark_Hurd
https://en.wikipedia.org/wiki/Ramon_Laguarta
https://en.wikipedia.org/wiki/Albert_Bourla
https://en.wikipedia.org/wiki/David_S._Taylor
https://en.wikipedia.org/wiki/John_Strangfeld
https://en.wikipedia.org/wiki/Alan_Joyce
https://en.wikipedia.org/wiki/Anil_Ambani
https://en.wikipedia.org/wiki/Mukesh_Ambani
https://en.wikipedia.org/wiki/Luca_de_Meo
https://en.wikipedia.org/wiki/David_I._McKay
https://en.wikipedia.org/wiki/Ross_McEwan
https://en.wikipedia.org/wiki/Ben_van_Beurden
https://en.wikipedia.org/wiki/Michael_O%27Leary
https://en.wikipedia.org/wiki/Douglas_L._Peterson
https://en.wikipedia.org/wiki/Oh-Hyun_Kwon
https://en.wikipedia.org/wiki/Christian_Klein
https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III
https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire
https://en.wikipedia.org/wiki/Peter_Harrison
https://en.wikipedia.org/wiki/Chua_Sock_Koong
https://en.wikipedia.org/wiki/Masayoshi_Son
https://en.wikipedia.org/wiki/Tony_Aquila
https://en.wikipedia.org/wiki/Robert_E._Jordan
https://en.wikipedia.org/wiki/J._Clifford_Hudson
https://en.wikipedia.org/wiki/Laxman_Narasimhan
https://en.wikipedia.org/wiki/Raymond_Kwok
https://en.wikipedia.org/wiki/William_H._Rogers_Jr.
https://en.wikipedia.org/wiki/Brian_Cornell
https://en.wikipedia.org/wiki/Rajesh_Gopinathan
https://en.wikipedia.org/wiki/Li_Dongsheng
https://en.wikipedia.org/wiki/Andy_Penn
https://en.wikipedia.org/wiki/Dave_Lewis
https://en.wikipedia.org/wiki/Elon_Musk
https://en.wikipedia.org/wiki/Alan_D._Schnitzer
https://en.wikipedia.org/wiki/Akio_Toyoda
https://en.wikipedia.org/wiki/Scott_Kirby
https://en.wikipedia.org/wiki/Ralph_Hamers
https://en.wikipedia.org/wiki/Hans_Vestberg
https://en.wikipedia.org/wiki/Robert_Bakish
https://en.wikipedia.org/wiki/Vittorio_Colao
https://en.wikipedia.org/wiki/Herbert_Diess
https://en.wikipedia.org/wiki/Robert_Iger
https://en.wikipedia.org/wiki/Stefano_Pessina
https://en.wikipedia.org/wiki/Doug_McMillon
https://en.wikipedia.org/wiki/Ann_Sarnoff
https://en.wikipedia.org/wiki/Jason_Kilar
https://en.wikipedia.org/wiki/Charles_Scharf
https://en.wikipedia.org/wiki/John_Mackey
https://en.wikipedia.org/wiki/Rich_Barton

,name,page,born
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_B...,1967-06-14 00:00:00
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00
3,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00
4,Eddie_Wu,https://en.wikipedia.org/wiki/Eddie_Wu,NaT
...,...,...,...
130,Ann_Sarnoff,https://en.wikipedia.org/wiki/Ann_Sarnoff,NaT
131,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00
132,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00
133,John_Mackey,https://en.wikipedia.org/wiki/John_Mackey,NaT
134,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,NaT

In [ ]:
con.sql('create table if not exists executives as select * from exec_df')

con.table('executives').show()

┌──────────────────────┬────────────────────────────────────────────────────┬─────────────────────┐
│         name         │                        page                        │        born         │
│       varchar        │                      varchar                       │      timestamp      │
├──────────────────────┼────────────────────────────────────────────────────┼─────────────────────┤
│ Julie_Sweet          │ https://en.wikipedia.org/wiki/Julie_Sweet          │ NULL                │
│ Kumar_Mangalam_Birla │ https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla │ 1967-06-14 00:00:00 │
│ Shantanu_Narayen     │ https://en.wikipedia.org/wiki/Shantanu_Narayen     │ 1963-05-27 00:00:00 │
│ Guillaume_Faury      │ https://en.wikipedia.org/wiki/Guillaume_Faury      │ 1968-02-22 00:00:00 │
│ Eddie_Wu             │ https://en.wikipedia.org/wiki/Eddie_Wu             │ NULL                │
│ Andy_Jassy           │ https://en.wikipedia.org/wiki/Andy_Jassy           │ 1968-01-13 00:00:00 │
│ Lisa_Su              │ https://en.wikipedia.org/wiki/Lisa_Su              │ 1969-11-07 00:00:00 │
│ Stephen_Squeri       │ https://en.wikipedia.org/wiki/Stephen_Squeri       │ NULL                │
│ Joseph_R._Swedish    │ https://en.wikipedia.org/wiki/Joseph_R._Swedish    │ 1951-05-17 00:00:00 │
│ Tim_Cook             │ https://en.wikipedia.org/wiki/Tim_Cook             │ 1960-11-01 00:00:00 │
│    ·                 │                   ·                                │          ·          │
│    ·                 │                   ·                                │          ·          │
│    ·                 │                   ·                                │          ·          │
│ Vittorio_Colao       │ https://en.wikipedia.org/wiki/Vittorio_Colao       │ 1961-10-03 00:00:00 │
│ Herbert_Diess        │ https://en.wikipedia.org/wiki/Herbert_Diess        │ 1958-10-24 00:00:00 │
│ Robert_Iger          │ https://en.wikipedia.org/wiki/Robert_Iger          │ 1951-02-10 00:00:00 │
│ Stefano_Pessina      │ https://en.wikipedia.org/wiki/Stefano_Pessina      │ 1941-06-04 00:00:00 │
│ Doug_McMillon        │ https://en.wikipedia.org/wiki/Doug_McMillon        │ 1966-10-17 00:00:00 │
│ Ann_Sarnoff          │ https://en.wikipedia.org/wiki/Ann_Sarnoff          │ NULL                │
│ Jason_Kilar          │ https://en.wikipedia.org/wiki/Jason_Kilar          │ 1971-04-26 00:00:00 │
│ Charles_Scharf       │ https://en.wikipedia.org/wiki/Charles_Scharf       │ 1965-04-24 00:00:00 │
│ John_Mackey          │ https://en.wikipedia.org/wiki/John_Mackey          │ NULL                │
│ Rich_Barton          │ https://en.wikipedia.org/wiki/Rich_Barton          │ NULL                │
├──────────────────────┴────────────────────────────────────────────────────┴─────────────────────┤
│ 135 rows (20 shown)                                                                   3 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

## Section 1 Exercises

Extract, as a dataframe, the list of cities in Pennsylvania (see https://en.wikipedia.org/wiki/List_of_cities_in_Pennsylvania). Store these in the dataframe `pa_cities_df`.

In [ ]:
pa_cities_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Pennsylvania')[0]

pa_cities_df

,Name,Type,County[3],Class,Population (2020 Census),Incorporation date (as city),Area (sq miles)[4],Area (km2)
0,Aliquippa,City,Beaver,Third,"9,238[5]",1987,4.19,10.9
1,Allentown†,City,Lehigh,Third,"125,845[6]",1867,17.55,45.5
2,Altoona,City,Blair,Third,"43,963[7]",1868,9.91,25.7
3,Arnold,City,Westmoreland,Third,"4,772[8]",1939,0.73,1.9
4,Beaver Falls,City,Beaver,Third,"9,005[9]",1928,2.13,5.5
5,Bethlehem,City,Lehigh Northampton,Third,"75,781[10]",1917,19.10,49.5
6,Bradford,City,McKean,Third,"7,849[11]",1879,3.35,8.7
7,Butler†,City,Butler,Third,"13,502[12]",1816,2.72,7.0
8,Carbondale,City,Lackawanna,Third,"8,828[13]",1851,3.24,8.4
9,Chester,City,Delaware,Third,"32,605[14]",1866,4.84,12.5
10,Clairton,City,Allegheny,Third,"6,181[15]",1922,2.79,7.2
11,Coatesville,City,Chester,Third,"13,350[16]",1915,1.81,4.7
12,Connellsville,City,Fayette,Third,"7,031[10]",1911,2.18,5.6
13,Corry,City,Erie,Third,"6,210[17]",1866,5.99,15.5
14,DuBois,City,Clearfield,Third,"7,510[18]",1914,3.18,8.2
15,Duquesne,City,Allegheny,Third,"5,254[19]",1918,1.82,4.7
16,Easton†,City,Northampton,Third,"28,127[20]",1887,4.07,10.5
17,Erie†,City,Erie,Third,"94,831[21]",1851,19.08,49.4
18,Farrell,City,Mercer,Third,"4,258[22]",1932,1.27,3.3
19,Franklin†,City,Venango,Third,"6,077[10]",1868,4.68,12.1
20,Greensburg†,City,Westmoreland,Third,"14,976[23]",1928,4.06,10.5
21,Harrisburg†,City,Dauphin,Third,"50,135[24]",1860,8.13,21.1
22,Hazleton,City,Luzerne,Third,"29,963[25]",1891,6.01,15.6
23,Hermitage,City,Mercer,Third,"16,230[26]",1976,29.23,75.7
24,Jeannette,City,Westmoreland,Third,"8,780[27]",1938,2.39,6.2
25,Johnstown,City,Cambria,Third,"18,411[28]",1889,5.89,15.3
26,Lancaster†,City,Lancaster,Third,"58,039[29]",1818,7.23,18.7
27,Lebanon†,City,Lebanon,Third,"26,814[30]",1885,4.17,10.8
28,Lock Haven†,City,Clinton,Third,"8,108[31]",1870,2.50,6.5
29,Lower Burrell,City,Westmoreland,Third,"11,758[32]",1959,11.26,29.2
30,McKeesport,City,Allegheny,Third,"17,727[33]",1891,5.50,14.0
31,Meadville†,City,Crawford,Third,"13,050[34]",1866,4.38,11.3
32,Monessen,City,Westmoreland,Third,"6,876[35]",1921,2.89,7.5
33,Monongahela,City,Washington,Third,"4,159[36]",1873,1.98,5.1
34,Nanticoke,City,Luzerne,Third,"10,628[37]",1926,3.49,9.0
35,New Castle†,City,Lawrence,Third,"21,926[38]",1869,8.31,21.5
36,New Kensington,City,Westmoreland,Third,"12,170[39]",1934,3.95,10.2
37,Oil City,City,Venango,Third,"9,613[40]",1871,4.49,11.6
38,Parker,City,Armstrong,Third,695[41],1873,0.87,2.3
39,Philadelphia†,City,Philadelphia,First,"1,603,797[42]",1701,134.10,347.0
40,Pittsburgh†,City,Allegheny,Second,"302,971[43]",1816,55.37,143.4
41,Pittston,City,Luzerne,Third,"7,591[44]",1894,1.55,4.0
42,Pottsville†,City,Schuylkill,Third,"13,346[45]",1911,4.89,12.7
43,Reading†,City,Berks,Third,"95,112[46]",1847,9.88,25.6
44,St. Marys,City,Elk,Third,"12,738[47]",1992,99.32,257.2
45,Scranton†,City,Lackawanna,Second A,"76,328[48]",1866,25.31,65.6
46,Shamokin,City,Northumberland,Third,"6,942[49]",1949,0.83,2.1
47,Sharon,City,Mercer,Third,"13,147[50]",1917,3.77,9.8
48,Sunbury†,City,Northumberland,Third,"9,719[51]",1920,2.06,5.3
49,Titusville,City,Crawford,Third,"5,262[52]",1866,2.90,7.5
50,Uniontown†,City,Fayette,Third,"9,984[53]",1864,2.04,5.3
51,Warren†,City,Warren,Third,"9,404[54]",1832,2.91,7.5
52,Washington†,City,Washington,Third,"13,176[10]",1924,2.95,7.6
53,Wilkes-Barre†,City,Luzerne,Third,"44,328[55]",1871,6.98,18.1
54,Williamsport†,City,Lycoming,Third,"27,754[56]",1866,8.73,22.6
55,York†,City,York,Third,"44,800[57]",1887,5.29,13.7

Let's check (and record) your answer...  You can retry until you get things right!

In [ ]:
grader.grade('cities_quiz', answer=pa_cities_df)

Correct! You earned 1/1 points. You are a star!

Your submission has been successfully recorded in the gradebook.