<a href="https://colab.research.google.com/github/zackives/upenn-cis-2450/blob/main/Module_1_Data_Acquisition_Wrangling_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part I of Big Data Analytics - Notebook 2

## Recall

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook will be built incrementally to consider several tasks:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)
* Basic manipulation using SQL in DuckDB

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking
  * Different techniques

## Before you start this notebook

Make sure you did the exercises in [Notebook 1](https://colab.research.google.com/github/zackives/upenn-cis-2450/blob/main/Module_1_Data_Acquisition.ipynb)!

## The Motivating Question
To illustrate the principles, we focus on the question of **how old company CEOs and founders** (in general, leaders) are.  The question was in part motivated by the following New York Times article:

* Founders of Successful Tech Companies Are Mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test this hypothesis!

## Initial Libraries

We'll be using [DuckDB](https://duckdb.org/) as a means of managing our tables.  DuckDB works like a Python library, but manages a full SQL database (in files).  It also integrates very nicely with Pandas, so we'll use it in this course.

In [9]:
!pip3 install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.10.3)

In [10]:
!pip3 install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)

In [11]:
%%writefile notebook-config.yaml

grader_api_url: 'https://23whrwph9h.execute-api.us-east-1.amazonaws.com/default/Grader23'
grader_api_key: 'flfkE736fA6Z8GxMDJe2q8Kfk8UDqjsG3GVqOFOa'

Overwriting notebook-config.yaml

In [12]:
!pip3 install penngrader-client

Requirement already satisfied: penngrader-client in /usr/local/lib/python3.10/dist-packages (0.5.2)
Requirement already satisfied: dill in /usr/local/lib/python3.10/dist-packages (from penngrader-client) (0.3.8)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from penngrader-client) (6.0.2)

For quiz credit you'll need to update your student ID here!

In [13]:
#PLEASE ENSURE YOUR PENN-ID IS ENTERED CORRECTLY. IF NOT, THE AUTOGRADER WON'T KNOW WHO
#TO ASSIGN POINTS TO YOU IN OUR BACKEND
STUDENT_ID = 99999999 # YOUR PENN-ID GOES HERE AS AN INTEGER##PLEASE ENSURE YOUR PENN-ID IS ENTERED CORRECTLY. IF NOT, THE AUTOGRADER WON'T KNOW WHO

Quizzes will cumulatively count as HW9... Don't edit this...

In [14]:
%set_env HW_ID=cis2450_fall24_HW9

env: HW_ID=cis2450_fall24_HW9

In [15]:
import os
from penngrader.grader import *

grader = PennGrader('notebook-config.yaml', os.environ['HW_ID'], STUDENT_ID, STUDENT_ID)

PennGrader initialized with Student ID: 99999999

Make sure this correct or we will not be able to store your grade

In [20]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import duckdb

# Data visualization
import matplotlib

from lxml import etree

# 1. Reload from HW1

Here is a quick reload of the data from Homework 1.

For simplicity, we reload all of the following:
* `company_ceos_df` -- Wikipedia list of companies and their CEOs
* `exec_df` -- crawled executive names and birthdays
* `company_data_df` -- 7M entries about companies
* `company_info_df` -- CSV about companies and lines of business

In [21]:
!wget -nc https://storage.googleapis.com/penn-cis5450/companies_sorted.csv

File ‘companies_sorted.csv’ already there; not retrieving.

In [22]:
company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[1]

pages = []

for executive in company_ceos_df['Executive']:
  url = 'https://en.wikipedia.org/wiki/' + executive.replace(' ', '_')

  page = url.split("/")[-1] #extract the person name at the end of the url

  # An issue: some of the accent characters won't work.  We need to convert them
  # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
  # the structure, then re-form the URL
  url_list = list(urllib.parse.urlsplit(url))
  url_list[2] = urllib.parse.quote(url_list[2])
  url_ascii = urllib.parse.urlunsplit(url_list)
  try:
    response = urllib.request.urlopen((url_ascii))
    pages.append(response)
  except urllib.error.URLError as e:
    print(e.reason)

# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name,
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime
# value is NaT (not a type).

rows = []
for page in pages:
  url = page.geturl()

  content = page.read().decode("utf-8")
  tree = etree.HTML(content)  #create a DOM tree of the page
  bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
  if len(bday) > 0:
      name = url[url.rfind('/')+1:] # The part of the URL after the last /
      rows.append({'name': name, 'page': url,
                  'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d')})
  else:
          rows.append({'name': url[url.rfind('/')+1:], 'page': url
                                    , 'born': np.datetime64('NaT')})

exec_df = pd.DataFrame(rows)
exec_df['clean_name'] = exec_df['name'].apply(lambda x: x.replace('_', ' '))
company_data_df = pd.read_csv('companies_sorted.csv')
countries_df = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")

data = urllib.request.urlopen(\
       'https://gist.github.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv')

company_info_df = pd.read_csv(data)

Now let's use DuckDB to allow working with on-disk and in memory data.

In [23]:
con = duckdb.connect('local.db')
con.sql("""CREATE TABLE IF NOT EXISTS company_data AS
           SELECT *
           FROM company_data_df""")
con.sql("""create table if not exists company_ceos as select * from company_ceos_df""")
con.sql("""create table if not exists executives as select * from exec_df""")

# query the table
con.table("company_data").show()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌────────────┬──────────────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│ Unnamed: 0 │         name         │ … │     linkedin url     │ current employee e…  │ total employee est…  │
│   int64    │       varchar        │   │       varchar        │        int64         │        int64         │
├────────────┼──────────────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│    5872184 │ ibm                  │ … │ linkedin.com/compa…  │               274047 │               716906 │
│    4425416 │ tata consultancy s…  │ … │ linkedin.com/compa…  │               190771 │               341369 │
│      21074 │ accenture            │ … │ linkedin.com/compa…  │               190689 │               455768 │
│    2309813 │ us army              │ … │ linkedin.com/compa…  │               162163 │               445958 │
│    1558607 │ ey                   │ … │ linkedin.com/compa…  │               158363 │               428960 │
│    3844889 │ hewlett-packard      │ … │ linkedin.com/compa…  │               127952 │               412952 │
│    2959148 │ cognizant technolo…  │ … │ linkedin.com/compa…  │               122031 │               210020 │
│    5944912 │ walmart              │ … │ linkedin.com/compa…  │               120753 │               272827 │
│    3727010 │ microsoft            │ … │ linkedin.com/compa…  │               116196 │               276983 │
│    3300741 │ at&t                 │ … │ linkedin.com/compa…  │               115188 │               269659 │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│    4782764 │ jönköpings kommun    │ … │ linkedin.com/compa…  │                 1118 │                 1964 │
│    3432133 │ jmc projects india…  │ … │ linkedin.com/compa…  │                 1118 │                 2112 │
│     910050 │ öbb                  │ … │ linkedin.com/compa…  │                 1118 │                 1546 │
│    6444131 │ vaillant group       │ … │ linkedin.com/compa…  │                 1118 │                 2540 │
│     916799 │ embracon administr…  │ … │ linkedin.com/compa…  │                 1118 │                 2240 │
│    3585785 │ university of chic…  │ … │ linkedin.com/compa…  │                 1118 │                 3220 │
│    2583172 │ pantaloon retail i…  │ … │ linkedin.com/compa…  │                 1118 │                 4723 │
│    1406043 │ nv energy            │ … │ linkedin.com/compa…  │                 1118 │                 1834 │
│     955441 │ mining               │ … │ linkedin.com/compa…  │                 1118 │                 1421 │
│    5571765 │ university of stir…  │ … │ linkedin.com/compa…  │                 1118 │                 2680 │
├────────────┴──────────────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                         11 columns (5 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# 2.0 Data Transformation and Querying

Looking at our data to clean via *projection*...

Generally, we can extract one "narrower" table form another by using **double brackets**.

In [24]:
# Let's take a look at the data.  Here's a way of PROJECTING the exec_df dataframe into
# a smaller table

exec_df[['name', 'born']]

                     name                 born
0             Julie_Sweet                  NaT
1    Kumar_Mangalam_Birla  1967-06-14 00:00:00
2        Shantanu_Narayen  1963-05-27 00:00:00
3         Guillaume_Faury  1968-02-22 00:00:00
4                Eddie_Wu                  NaT
..                    ...                  ...
130           Ann_Sarnoff                  NaT
131           Jason_Kilar  1971-04-26 00:00:00
132        Charles_Scharf  1965-04-24 00:00:00
133           John_Mackey                  NaT
134           Rich_Barton                  NaT

[135 rows x 2 columns]

In [25]:
# In SQL it's SELECT with the fields FROM the table
con.sql('select name, born from executives')

┌──────────────────────┬─────────────────────┐
│         name         │        born         │
│       varchar        │      timestamp      │
├──────────────────────┼─────────────────────┤
│ Julie_Sweet          │ NULL                │
│ Kumar_Mangalam_Birla │ 1967-06-14 00:00:00 │
│ Shantanu_Narayen     │ 1963-05-27 00:00:00 │
│ Guillaume_Faury      │ 1968-02-22 00:00:00 │
│ Eddie_Wu             │ NULL                │
│ Andy_Jassy           │ 1968-01-13 00:00:00 │
│ Lisa_Su              │ NULL                │
│ Stephen_Squeri       │ NULL                │
│ Joseph_R._Swedish    │ 1951-05-17 00:00:00 │
│ Tim_Cook             │ 1960-11-01 00:00:00 │
│    ·                 │          ·          │
│    ·                 │          ·          │
│    ·                 │          ·          │
│ Vittorio_Colao       │ 1961-10-03 00:00:00 │
│ Herbert_Diess        │ 1958-10-24 00:00:00 │
│ Robert_Iger          │ 1951-02-10 00:00:00 │
│ Stefano_Pessina      │ 1941-06-04 00:00:00 │
│ Doug_McMillon        │ 1966-10-17 00:00:00 │
│ Ann_Sarnoff          │ NULL                │
│ Jason_Kilar          │ 1971-04-26 00:00:00 │
│ Charles_Scharf       │ 1965-04-24 00:00:00 │
│ John_Mackey          │ NULL                │
│ Rich_Barton          │ NULL                │
├──────────────────────┴─────────────────────┤
│ 135 rows (20 shown)              2 columns │
└────────────────────────────────────────────┘

In [26]:
# If I use single brackets, I can extract a single column as a Series.
exec_df['name']

0               Julie_Sweet
1      Kumar_Mangalam_Birla
2          Shantanu_Narayen
3           Guillaume_Faury
4                  Eddie_Wu
               ...
130             Ann_Sarnoff
131             Jason_Kilar
132          Charles_Scharf
133             John_Mackey
134             Rich_Barton
Name: name, Length: 135, dtype: object

In [27]:
# We can use SQL over the dataframe OR here
duckdb.sql('SELECT name FROM exec_df')

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ Julie_Sweet          │
│ Kumar_Mangalam_Birla │
│ Shantanu_Narayen     │
│ Guillaume_Faury      │
│ Eddie_Wu             │
│ Andy_Jassy           │
│ Lisa_Su              │
│ Stephen_Squeri       │
│ Joseph_R._Swedish    │
│ Tim_Cook             │
│    ·                 │
│    ·                 │
│    ·                 │
│ Vittorio_Colao       │
│ Herbert_Diess        │
│ Robert_Iger          │
│ Stefano_Pessina      │
│ Doug_McMillon        │
│ Ann_Sarnoff          │
│ Jason_Kilar          │
│ Charles_Scharf       │
│ John_Mackey          │
│ Rich_Barton          │
├──────────────────────┤
│ 135 rows (20 shown)  │
└──────────────────────┘

In [28]:
# Notice anything awry?

for person in exec_df['name']:
    print (person)

Julie_Sweet
Kumar_Mangalam_Birla
Shantanu_Narayen
Guillaume_Faury
Eddie_Wu
Andy_Jassy
Lisa_Su
Stephen_Squeri
Joseph_R._Swedish
Tim_Cook
Lakshmi_Niwas_Mittal
John_Stankey
Charles_Woodburn
Tapan_Singhel
Carlos_Torres_Vila
Brian_Moynihan
C.S._Venkatakrishnan
Warren_Buffett
Hubert_Joly
Sunil_Bharti_Mittal
Stephen_A._Schwarzman
Mike_Henry
Oliver_Zipse
Dave_Calhoun
Rich_Lesser
Bob_Dudley
Hock_Tan
Denise_Morrison
Mark_Shuttleworth
Richard_Fairbank
Jim_Umpleby
Evan_Greenberg
Chuck_Robbins
Jane_Fraser
James_Quincey
Brian_L._Roberts
Thomas_Gottstein
Ola_K%C3%A4llenius
Michael_Dell
Ed_Bastian
Christian_Sewing
Tobias_Meyer
Edward_D._Breen
Devin_Wenig
B%C3%B6rje_Ekholm
Darren_Woods
Carmine_Di_Sibio
Mark_Zuckerberg
Frederick_W._Smith
Sergio_Marchionne
Abigail_Johnson
James_Hackett
Terry_Gou
Lachlan_Murdoch
Phebe_Novakovic
H._Lawrence_Culp_Jr.
Mary_T._Barra
Emma_Walmsley
David_M._Solomon
Sundar_Pichai
C_Vijayakumar
Antonio_Neri
Darius_Adamczyk
Noel_Quinn
Arvind_Krishna
Salil_Parekh
Pat_Gelsinger
James_Dimon
Pieter_Elbers
Charles_G._Koch
Marillyn_Hewson
Steve_Rowe
Chris_Kempczinski
Bob_Sternfels
Steven_A._Kandarian
Isaac_Larian
Satya_Nadella
James_P._Gorman
Jeff_Shell
Robert_James_Thomson
Mark_Thompson
Mark_Parker
Pekka_Lundmark
Vasant_Narasimhan
Tatsumi_Kimishima
Safra_Catz
Mark_Hurd
Ramon_Laguarta
Albert_Bourla
David_S._Taylor
John_Strangfeld
Alan_Joyce
Anil_Ambani
Mukesh_Ambani
Luca_de_Meo
David_I._McKay
Ross_McEwan
Ben_van_Beurden
Michael_O%27Leary
Douglas_L._Peterson
Oh-Hyun_Kwon
Christian_Klein
Herbert_Fisk_Johnson_III
Jean-Pascal_Tricoire
Peter_Harrison
Chua_Sock_Koong
Masayoshi_Son
Tony_Aquila
Robert_E._Jordan
J._Clifford_Hudson
Brian_Niccol
Raymond_Kwok
William_H._Rogers_Jr.
Brian_Cornell
Rajesh_Gopinathan
Li_Dongsheng
Andy_Penn
Dave_Lewis
Elon_Musk
Alan_D._Schnitzer
Akio_Toyoda
Scott_Kirby
Ralph_Hamers
Hans_Vestberg
Robert_Bakish
Vittorio_Colao
Herbert_Diess
Robert_Iger
Stefano_Pessina
Doug_McMillon
Ann_Sarnoff
Jason_Kilar
Charles_Scharf
John_Mackey
Rich_Barton

In [29]:
def to_space(x):
  return x.replace('_', ' ')

# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(to_space)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3           Guillaume Faury
4                  Eddie Wu
               ...
130             Ann Sarnoff
131             Jason Kilar
132          Charles Scharf
133             John Mackey
134             Rich Barton
Name: name, Length: 135, dtype: object

In [30]:
# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(lambda x: x.replace('_', ' '))

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3           Guillaume Faury
4                  Eddie Wu
               ...
130             Ann Sarnoff
131             Jason Kilar
132          Charles Scharf
133             John Mackey
134             Rich Barton
Name: name, Length: 135, dtype: object

In [31]:
# I can also use *apply* to call a function over the rows of a dataframe
exec_df.apply(lambda x: x['name'].replace('_', ' '), axis=1)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3           Guillaume Faury
4                  Eddie Wu
               ...
130             Ann Sarnoff
131             Jason Kilar
132          Charles Scharf
133             John Mackey
134             Rich Barton
Length: 135, dtype: object

In [32]:
# Let's clean the name by removing underscores...
exec_df['clean_name'] = exec_df['name'].apply(lambda x: x.replace('_', ' '))

exec_df

,name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_B...,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
4,Eddie_Wu,https://en.wikipedia.org/wiki/Eddie_Wu,NaT,Eddie Wu
...,...,...,...,...
130,Ann_Sarnoff,https://en.wikipedia.org/wiki/Ann_Sarnoff,NaT,Ann Sarnoff
131,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00,Jason Kilar
132,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00,Charles Scharf
133,John_Mackey,https://en.wikipedia.org/wiki/John_Mackey,NaT,John Mackey
134,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,NaT,Rich Barton

In [33]:
exec_df.rename(columns={'name': 'old_name'})

,old_name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_B...,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
4,Eddie_Wu,https://en.wikipedia.org/wiki/Eddie_Wu,NaT,Eddie Wu
...,...,...,...,...
130,Ann_Sarnoff,https://en.wikipedia.org/wiki/Ann_Sarnoff,NaT,Ann Sarnoff
131,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00,Jason Kilar
132,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00,Charles Scharf
133,John_Mackey,https://en.wikipedia.org/wiki/John_Mackey,NaT,John Mackey
134,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,NaT,Rich Barton

In [34]:
# We can do the same via SQL.

duckdb.sql("""SELECT name, replace(name, '_', ' ') AS clean_name
              FROM exec_df""")

┌──────────────────────┬──────────────────────┐
│         name         │      clean_name      │
│       varchar        │       varchar        │
├──────────────────────┼──────────────────────┤
│ Julie_Sweet          │ Julie Sweet          │
│ Kumar_Mangalam_Birla │ Kumar Mangalam Birla │
│ Shantanu_Narayen     │ Shantanu Narayen     │
│ Guillaume_Faury      │ Guillaume Faury      │
│ Eddie_Wu             │ Eddie Wu             │
│ Andy_Jassy           │ Andy Jassy           │
│ Lisa_Su              │ Lisa Su              │
│ Stephen_Squeri       │ Stephen Squeri       │
│ Joseph_R._Swedish    │ Joseph R. Swedish    │
│ Tim_Cook             │ Tim Cook             │
│    ·                 │    ·                 │
│    ·                 │    ·                 │
│    ·                 │    ·                 │
│ Vittorio_Colao       │ Vittorio Colao       │
│ Herbert_Diess        │ Herbert Diess        │
│ Robert_Iger          │ Robert Iger          │
│ Stefano_Pessina      │ Stefano Pessina      │
│ Doug_McMillon        │ Doug McMillon        │
│ Ann_Sarnoff          │ Ann Sarnoff          │
│ Jason_Kilar          │ Jason Kilar          │
│ Charles_Scharf       │ Charles Scharf       │
│ John_Mackey          │ John Mackey          │
│ Rich_Barton          │ Rich Barton          │
├──────────────────────┴──────────────────────┤
│ 135 rows (20 shown)               2 columns │
└─────────────────────────────────────────────┘

## 2.1. Selecting a subset of the rows

In [35]:
# Here's a column

exec_df['clean_name']

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3           Guillaume Faury
4                  Eddie Wu
               ...
130             Ann Sarnoff
131             Jason Kilar
132          Charles Scharf
133             John Mackey
134             Rich Barton
Name: clean_name, Length: 135, dtype: object

In [36]:
# We can apply a test (predicate) to each column, returning a Series of boolean true/false values

exec_df['clean_name'] == 'Julie Sweet'

0       True
1      False
2      False
3      False
4      False
       ...
130    False
131    False
132    False
133    False
134    False
Name: clean_name, Length: 135, dtype: bool

In [37]:
# If we compose these, we'll get only those rows where the boolean condition was True

exec_df[exec_df['clean_name'] == 'Julie Sweet']

          name                                       page born   clean_name
0  Julie_Sweet  https://en.wikipedia.org/wiki/Julie_Sweet  NaT  Julie Sweet

SQL lets us use any case, but convention is to capitalize the SQL keywords such as `SELECT`, `FROM`, `WHERE` to aid in readability.  Also, we should use single-quotes for SQL strings, so we'll typically pass the SQL command in with double-quotes.

In [38]:
duckdb.sql("SELECT * FROM exec_df WHERE clean_name='Julie Sweet'")

┌─────────────┬───────────────────────────────────────────┬───────────┬─────────────┐
│    name     │                   page                    │   born    │ clean_name  │
│   varchar   │                  varchar                  │ timestamp │   varchar   │
├─────────────┼───────────────────────────────────────────┼───────────┼─────────────┤
│ Julie_Sweet │ https://en.wikipedia.org/wiki/Julie_Sweet │ NULL      │ Julie Sweet │
└─────────────┴───────────────────────────────────────────┴───────────┴─────────────┘

In [39]:
exec_df[exec_df['clean_name'] == 'Julie Sweet'][['page']]

                                        page
0  https://en.wikipedia.org/wiki/Julie_Sweet


Here we'll use the triple-quote syntax for Python strings, which allows us to pass a multi-line string to SQL...

In [40]:
duckdb.sql("""SELECT clean_name
            FROM exec_df
            WHERE clean_name='Julie Sweet'""")

┌─────────────┐
│ clean_name  │
│   varchar   │
├─────────────┤
│ Julie Sweet │
└─────────────┘

In [41]:
import numpy as np

exec_df.dropna(subset=['born'])

,name,page,born,clean_name
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_B...,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
5,Andy_Jassy,https://en.wikipedia.org/wiki/Andy_Jassy,1968-01-13 00:00:00,Andy Jassy
8,Joseph_R._Swedish,https://en.wikipedia.org/wiki/Joseph_R._Swedish,1951-05-17 00:00:00,Joseph R. Swedish
...,...,...,...,...
127,Robert_Iger,https://en.wikipedia.org/wiki/Robert_Iger,1951-02-10 00:00:00,Robert Iger
128,Stefano_Pessina,https://en.wikipedia.org/wiki/Stefano_Pessina,1941-06-04 00:00:00,Stefano Pessina
129,Doug_McMillon,https://en.wikipedia.org/wiki/Doug_McMillon,1966-10-17 00:00:00,Doug McMillon
131,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00,Jason Kilar
132,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00,Charles Scharf

In [42]:
duckdb.sql("""SELECT *
            FROM exec_df
            WHERE born IS NOT NULL""")

┌──────────────────────┬──────────────────────────────────────────────────┬─────────────────────┬──────────────────────┐
│         name         │                       page                       │        born         │      clean_name      │
│       varchar        │                     varchar                      │      timestamp      │       varchar        │
├──────────────────────┼──────────────────────────────────────────────────┼─────────────────────┼──────────────────────┤
│ Kumar_Mangalam_Birla │ https://en.wikipedia.org/wiki/Kumar_Mangalam_B…  │ 1967-06-14 00:00:00 │ Kumar Mangalam Birla │
│ Shantanu_Narayen     │ https://en.wikipedia.org/wiki/Shantanu_Narayen   │ 1963-05-27 00:00:00 │ Shantanu Narayen     │
│ Guillaume_Faury      │ https://en.wikipedia.org/wiki/Guillaume_Faury    │ 1968-02-22 00:00:00 │ Guillaume Faury      │
│ Andy_Jassy           │ https://en.wikipedia.org/wiki/Andy_Jassy         │ 1968-01-13 00:00:00 │ Andy Jassy           │
│ Joseph_R._Swedish    │ https://en.wikipedia.org/wiki/Joseph_R._Swedish  │ 1951-05-17 00:00:00 │ Joseph R. Swedish    │
│ Tim_Cook             │ https://en.wikipedia.org/wiki/Tim_Cook           │ 1960-11-01 00:00:00 │ Tim Cook             │
│ Lakshmi_Niwas_Mittal │ https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mi…  │ 1950-06-15 00:00:00 │ Lakshmi Niwas Mittal │
│ Charles_Woodburn     │ https://en.wikipedia.org/wiki/Charles_Woodburn   │ 1971-03-11 00:00:00 │ Charles Woodburn     │
│ Tapan_Singhel        │ https://en.wikipedia.org/wiki/Tapan_Singhel      │ 1966-08-12 00:00:00 │ Tapan Singhel        │
│ Brian_Moynihan       │ https://en.wikipedia.org/wiki/Brian_Moynihan     │ 1959-10-09 00:00:00 │ Brian Moynihan       │
│      ·               │                     ·                            │          ·          │      ·               │
│      ·               │                     ·                            │          ·          │      ·               │
│      ·               │                     ·                            │          ·          │      ·               │
│ Ralph_Hamers         │ https://en.wikipedia.org/wiki/Ralph_Hamers       │ 1966-05-25 00:00:00 │ Ralph Hamers         │
│ Hans_Vestberg        │ https://en.wikipedia.org/wiki/Hans_Vestberg      │ 1965-06-23 00:00:00 │ Hans Vestberg        │
│ Robert_Bakish        │ https://en.wikipedia.org/wiki/Robert_Bakish      │ 1963-12-14 00:00:00 │ Robert Bakish        │
│ Vittorio_Colao       │ https://en.wikipedia.org/wiki/Vittorio_Colao     │ 1961-10-03 00:00:00 │ Vittorio Colao       │
│ Herbert_Diess        │ https://en.wikipedia.org/wiki/Herbert_Diess      │ 1958-10-24 00:00:00 │ Herbert Diess        │
│ Robert_Iger          │ https://en.wikipedia.org/wiki/Robert_Iger        │ 1951-02-10 00:00:00 │ Robert Iger          │
│ Stefano_Pessina      │ https://en.wikipedia.org/wiki/Stefano_Pessina    │ 1941-06-04 00:00:00 │ Stefano Pessina      │
│ Doug_McMillon        │ https://en.wikipedia.org/wiki/Doug_McMillon      │ 1966-10-17 00:00:00 │ Doug McMillon        │
│ Jason_Kilar          │ https://en.wikipedia.org/wiki/Jason_Kilar        │ 1971-04-26 00:00:00 │ Jason Kilar          │
│ Charles_Scharf       │ https://en.wikipedia.org/wiki/Charles_Scharf     │ 1965-04-24 00:00:00 │ Charles Scharf       │
├──────────────────────┴──────────────────────────────────────────────────┴─────────────────────┴──────────────────────┤
│ 79 rows (20 shown)                                                                                         4 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 2.2. Joining Data

We start with a simple join between company_ceos_df and exec_df and persist it to the database.  We then check how many companies did not have a match on CEO name.

In [43]:
exec_df[['clean_name', 'born']]

               clean_name                 born
0             Julie Sweet                  NaT
1    Kumar Mangalam Birla  1967-06-14 00:00:00
2        Shantanu Narayen  1963-05-27 00:00:00
3         Guillaume Faury  1968-02-22 00:00:00
4                Eddie Wu                  NaT
..                    ...                  ...
130           Ann Sarnoff                  NaT
131           Jason Kilar  1971-04-26 00:00:00
132        Charles Scharf  1965-04-24 00:00:00
133           John Mackey                  NaT
134           Rich Barton                  NaT

[135 rows x 2 columns]

In [44]:
# Remove any duplicate executive entries

exec_df = exec_df.drop_duplicates()

In [45]:
company_ceos_df[['Executive', 'Company']]

                Executive             Company
0             Julie Sweet           Accenture
1    Kumar Mangalam Birla  Aditya Birla Group
2        Shantanu Narayen       Adobe Systems
3         Guillaume Faury              Airbus
4                Eddie Wu             Alibaba
..                    ...                 ...
130           Ann Sarnoff     Warner Brothers
131           Jason Kilar         WarnerMedia
132        Charles Scharf         Wells Fargo
133           John Mackey  Whole Foods Market
134           Rich Barton        Zillow Group

[135 rows x 2 columns]

In [46]:
company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'])

,Executive,Company,clean_name,born
0,Julie Sweet,Accenture,Julie Sweet,NaT
1,Kumar Mangalam Birla,Aditya Birla Group,Kumar Mangalam Birla,1967-06-14 00:00:00
2,Shantanu Narayen,Adobe Systems,Shantanu Narayen,1963-05-27 00:00:00
3,Guillaume Faury,Airbus,Guillaume Faury,1968-02-22 00:00:00
4,Eddie Wu,Alibaba,Eddie Wu,NaT
...,...,...,...,...
127,Ann Sarnoff,Warner Brothers,Ann Sarnoff,NaT
128,Jason Kilar,WarnerMedia,Jason Kilar,1971-04-26 00:00:00
129,Charles Scharf,Wells Fargo,Charles Scharf,1965-04-24 00:00:00
130,John Mackey,Whole Foods Market,John Mackey,NaT
131,Rich Barton,Zillow Group,Rich Barton,NaT

We can `JOIN ON` in the `FROM` clause.

In [47]:
duckdb.sql("""
            SELECT Executive, Company, born
            FROM company_ceos_df JOIN exec_df ON Executive=clean_name
          """)

┌──────────────────────┬──────────────────────────┬─────────────────────┐
│      Executive       │         Company          │        born         │
│       varchar        │         varchar          │      timestamp      │
├──────────────────────┼──────────────────────────┼─────────────────────┤
│ Julie Sweet          │ Accenture                │ NULL                │
│ Kumar Mangalam Birla │ Aditya Birla Group       │ 1967-06-14 00:00:00 │
│ Shantanu Narayen     │ Adobe Systems            │ 1963-05-27 00:00:00 │
│ Guillaume Faury      │ Airbus                   │ 1968-02-22 00:00:00 │
│ Eddie Wu             │ Alibaba                  │ NULL                │
│ Andy Jassy           │ Amazon                   │ 1968-01-13 00:00:00 │
│ Lisa Su              │ Advanced Micro Devices   │ NULL                │
│ Stephen Squeri       │ American Express         │ NULL                │
│ Joseph R. Swedish    │ Anthem                   │ 1951-05-17 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│ Herbert Diess        │ Volkswagen Group         │ 1958-10-24 00:00:00 │
│ Robert Iger          │ Walt Disney Company      │ 1951-02-10 00:00:00 │
│ Stefano Pessina      │ Walgreens Boots Alliance │ 1941-06-04 00:00:00 │
│ Doug McMillon        │ Walmart                  │ 1966-10-17 00:00:00 │
│ Ann Sarnoff          │ Warner Brothers          │ NULL                │
│ Jason Kilar          │ WarnerMedia              │ 1971-04-26 00:00:00 │
│ John Mackey          │ Whole Foods Market       │ NULL                │
│ Rich Barton          │ Zillow Group             │ NULL                │
│ Edward D. Breen      │ Dow Chemical Company     │ NULL                │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
├──────────────────────┴──────────────────────────┴─────────────────────┤
│ 132 rows (20 shown)                                         3 columns │
└───────────────────────────────────────────────────────────────────────┘

Note there is another way you'll sometimes see, in older versions of SQL... Which is to put the join as a `WHERE` condition:

In [48]:
duckdb.sql("""
            SELECT Executive, Company, born
            FROM company_ceos_df, exec_df
            WHERE Executive=clean_name
          """)

┌──────────────────────┬──────────────────────────┬─────────────────────┐
│      Executive       │         Company          │        born         │
│       varchar        │         varchar          │      timestamp      │
├──────────────────────┼──────────────────────────┼─────────────────────┤
│ Julie Sweet          │ Accenture                │ NULL                │
│ Kumar Mangalam Birla │ Aditya Birla Group       │ 1967-06-14 00:00:00 │
│ Shantanu Narayen     │ Adobe Systems            │ 1963-05-27 00:00:00 │
│ Guillaume Faury      │ Airbus                   │ 1968-02-22 00:00:00 │
│ Eddie Wu             │ Alibaba                  │ NULL                │
│ Andy Jassy           │ Amazon                   │ 1968-01-13 00:00:00 │
│ Lisa Su              │ Advanced Micro Devices   │ NULL                │
│ Stephen Squeri       │ American Express         │ NULL                │
│ Joseph R. Swedish    │ Anthem                   │ 1951-05-17 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│ Herbert Diess        │ Volkswagen Group         │ 1958-10-24 00:00:00 │
│ Robert Iger          │ Walt Disney Company      │ 1951-02-10 00:00:00 │
│ Stefano Pessina      │ Walgreens Boots Alliance │ 1941-06-04 00:00:00 │
│ Doug McMillon        │ Walmart                  │ 1966-10-17 00:00:00 │
│ Ann Sarnoff          │ Warner Brothers          │ NULL                │
│ Jason Kilar          │ WarnerMedia              │ 1971-04-26 00:00:00 │
│ John Mackey          │ Whole Foods Market       │ NULL                │
│ Rich Barton          │ Zillow Group             │ NULL                │
│ Edward D. Breen      │ Dow Chemical Company     │ NULL                │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
├──────────────────────┴──────────────────────────┴─────────────────────┤
│ 132 rows (20 shown)                                         3 columns │
└───────────────────────────────────────────────────────────────────────┘

OK, let's drop the cases where we don't have a CEO's birthday: these aren't useful!

In [49]:
# Shall we skip the cases where we don't have the birthday?
duckdb.sql("""
            SELECT Executive, Company, born
            FROM company_ceos_df JOIN exec_df ON Executive=clean_name
            WHERE born is not null
          """)

┌──────────────────────┬─────────────────────────────────┬─────────────────────┐
│      Executive       │             Company             │        born         │
│       varchar        │             varchar             │      timestamp      │
├──────────────────────┼─────────────────────────────────┼─────────────────────┤
│ Kumar Mangalam Birla │ Aditya Birla Group              │ 1967-06-14 00:00:00 │
│ Shantanu Narayen     │ Adobe Systems                   │ 1963-05-27 00:00:00 │
│ Guillaume Faury      │ Airbus                          │ 1968-02-22 00:00:00 │
│ Andy Jassy           │ Amazon                          │ 1968-01-13 00:00:00 │
│ Joseph R. Swedish    │ Anthem                          │ 1951-05-17 00:00:00 │
│ Tim Cook             │ Apple                           │ 1960-11-01 00:00:00 │
│ Lakshmi Niwas Mittal │ Arcelor Mittal                  │ 1950-06-15 00:00:00 │
│ Charles Woodburn     │ BAE Systems                     │ 1971-03-11 00:00:00 │
│ Tapan Singhel        │ Bajaj Allianz General Insurance │ 1966-08-12 00:00:00 │
│ Brian Moynihan       │ Bank of America                 │ 1959-10-09 00:00:00 │
│      ·               │  ·                              │          ·          │
│      ·               │  ·                              │          ·          │
│      ·               │  ·                              │          ·          │
│ Ralph Hamers         │ UBS                             │ 1966-05-25 00:00:00 │
│ Hans Vestberg        │ Verizon Communications          │ 1965-06-23 00:00:00 │
│ Robert Bakish        │ ViacomCBS                       │ 1963-12-14 00:00:00 │
│ Vittorio Colao       │ Vodafone                        │ 1961-10-03 00:00:00 │
│ Herbert Diess        │ Volkswagen Group                │ 1958-10-24 00:00:00 │
│ Robert Iger          │ Walt Disney Company             │ 1951-02-10 00:00:00 │
│ Stefano Pessina      │ Walgreens Boots Alliance        │ 1941-06-04 00:00:00 │
│ Doug McMillon        │ Walmart                         │ 1966-10-17 00:00:00 │
│ Jason Kilar          │ WarnerMedia                     │ 1971-04-26 00:00:00 │
│ Charles Scharf       │ Wells Fargo                     │ 1965-04-24 00:00:00 │
├──────────────────────┴─────────────────────────────────┴─────────────────────┤
│ 78 rows (20 shown)                                                 3 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [50]:
company_ceos_df[['Executive', 'Company']]

                Executive             Company
0             Julie Sweet           Accenture
1    Kumar Mangalam Birla  Aditya Birla Group
2        Shantanu Narayen       Adobe Systems
3         Guillaume Faury              Airbus
4                Eddie Wu             Alibaba
..                    ...                 ...
130           Ann Sarnoff     Warner Brothers
131           Jason Kilar         WarnerMedia
132        Charles Scharf         Wells Fargo
133           John Mackey  Whole Foods Market
134           Rich Barton        Zillow Group

[135 rows x 2 columns]

In [51]:
exec_df[['clean_name', 'born']]

               clean_name                 born
0             Julie Sweet                  NaT
1    Kumar Mangalam Birla  1967-06-14 00:00:00
2        Shantanu Narayen  1963-05-27 00:00:00
3         Guillaume Faury  1968-02-22 00:00:00
4                Eddie Wu                  NaT
..                    ...                  ...
130           Ann Sarnoff                  NaT
131           Jason Kilar  1971-04-26 00:00:00
132        Charles Scharf  1965-04-24 00:00:00
133           John Mackey                  NaT
134           Rich Barton                  NaT

[135 rows x 2 columns]

## 2.4. Finding the misses in the join with OUTER JOINs.

Note that the join above resulted in 174 rows.  However, there are more rows in company_ceos_df so we are missing some companies.  We can see which are missed using a LEFT OUTERJOIN (aka LEFT JOIN); setting "indicator= True" allows us to see which tuples in company_ceos_df failed to find a match (left_only, e.g. row 24 and 172).

In [52]:
pd.set_option('display.max_rows', 200)
display(company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'], how="left", indicator=True))

,Executive,Company,clean_name,born,_merge
0,Julie Sweet,Accenture,Julie Sweet,NaT,both
1,Kumar Mangalam Birla,Aditya Birla Group,Kumar Mangalam Birla,1967-06-14 00:00:00,both
2,Shantanu Narayen,Adobe Systems,Shantanu Narayen,1963-05-27 00:00:00,both
3,Guillaume Faury,Airbus,Guillaume Faury,1968-02-22 00:00:00,both
4,Eddie Wu,Alibaba,Eddie Wu,NaT,both
5,Andy Jassy,Amazon,Andy Jassy,1968-01-13 00:00:00,both
6,Lisa Su,Advanced Micro Devices,Lisa Su,NaT,both
7,Stephen Squeri,American Express,Stephen Squeri,NaT,both
8,Joseph R. Swedish,Anthem,Joseph R. Swedish,1951-05-17 00:00:00,both
9,Tim Cook,Apple,Tim Cook,1960-11-01 00:00:00,both
10,Lakshmi Niwas Mittal,Arcelor Mittal,Lakshmi Niwas Mittal,1950-06-15 00:00:00,both
11,John Stankey,AT&T,John Stankey,NaT,both
12,Charles Woodburn,BAE Systems,Charles Woodburn,1971-03-11 00:00:00,both
13,Tapan Singhel,Bajaj Allianz General Insurance,Tapan Singhel,1966-08-12 00:00:00,both
14,Carlos Torres Vila,Banco Bilbao Vizcaya Argentaria,Carlos Torres Vila,NaT,both
15,Brian Moynihan,Bank of America,Brian Moynihan,1959-10-09 00:00:00,both
16,C.S. Venkatakrishnan,Barclays,C.S. Venkatakrishnan,NaT,both
17,Warren Buffett,Berkshire Hathaway,Warren Buffett,1930-08-30 00:00:00,both
18,Hubert Joly,Best Buy,Hubert Joly,1959-08-11 00:00:00,both
19,Sunil Bharti Mittal,Bharti Enterprises,Sunil Bharti Mittal,1957-10-23 00:00:00,both
20,Stephen A. Schwarzman,Blackstone Group,Stephen A. Schwarzman,1947-02-14 00:00:00,both
21,Mike Henry,BHP,Mike Henry,NaT,both
22,Oliver Zipse,BMW,Oliver Zipse,1964-02-07 00:00:00,both
23,Dave Calhoun,Boeing,Dave Calhoun,1957-04-18 00:00:00,both
24,Rich Lesser,Boston Consulting Group,Rich Lesser,NaT,both
25,Bob Dudley,BP,Bob Dudley,1955-09-14 00:00:00,both
26,Hock Tan,Broadcom,Hock Tan,NaT,both
27,Denise Morrison,Campbell Soup Company,Denise Morrison,1954-01-13 00:00:00,both
28,Mark Shuttleworth,Canonical,Mark Shuttleworth,1973-09-18 00:00:00,both
29,Richard Fairbank,Capital One Financial,Richard Fairbank,1950-09-18 00:00:00,both
30,Jim Umpleby,Caterpillar,Jim Umpleby,NaT,both
31,Evan Greenberg,Chubb,Evan Greenberg,NaT,both
32,Chuck Robbins,Cisco Systems,Chuck Robbins,NaT,both
33,Jane Fraser,Citigroup,Jane Fraser,NaT,both
34,James Quincey,Coca-Cola,James Quincey,1965-01-08 00:00:00,both
35,Brian L. Roberts,Comcast,Brian L. Roberts,1959-06-28 00:00:00,both
36,Thomas Gottstein,Credit Suisse,Thomas Gottstein,NaT,both
37,Ola Källenius,Daimler AG,NaN,NaN,left_only
38,Michael Dell,Dell,Michael Dell,1965-02-23 00:00:00,both
39,Ed Bastian,Delta Air Lines,Ed Bastian,1957-06-06 00:00:00,both
40,Christian Sewing,Deutsche Bank,Christian Sewing,1970-04-24 00:00:00,both
41,Tobias Meyer,DHL Group,Tobias Meyer,NaT,both
42,Edward D. Breen,Dow Chemical Company,Edward D. Breen,NaT,both
43,Devin Wenig,eBay,Devin Wenig,NaT,both
44,Börje Ekholm,Ericsson,NaN,NaN,left_only
45,Darren Woods,ExxonMobil,Darren Woods,1965-12-16 00:00:00,both
46,Carmine Di Sibio,Ernst & Young,Carmine Di Sibio,1963-03-23 00:00:00,both
47,Mark Zuckerberg,Facebook,Mark Zuckerberg,1984-05-14 00:00:00,both
48,Frederick W. Smith,FedEx,Frederick W. Smith,1944-08-11 00:00:00,both
49,Sergio Marchionne,Fiat,Sergio Marchionne,NaT,both
50,Abigail Johnson,Fidelity Investments,Abigail Johnson,1961-12-19 00:00:00,both
51,James Hackett,Ford,James Hackett,NaT,both
52,Terry Gou,Foxconn,Terry Gou,1950-10-18 00:00:00,both
53,Lachlan Murdoch,Fox Corporation,Lachlan Murdoch,1971-09-08 00:00:00,both
54,Phebe Novakovic,General Dynamics,Phebe Novakovic,NaT,both
55,H. Lawrence Culp Jr.,General Electric,H. Lawrence Culp Jr.,NaT,both
56,Mary T. Barra,General Motors,Mary T. Barra,1961-12-24 00:00:00,both
57,Emma Walmsley,GlaxoSmithKline,Emma Walmsley,NaT,both
58,David M. Solomon,Goldman Sachs,David M. Solomon,NaT,both
59,Sundar Pichai,Google,Sundar Pichai,1972-06-10 00:00:00,both
60,C Vijayakumar,HCL Technologies,C Vijayakumar,NaT,both
61,Antonio Neri,Hewlett Packard Enterprise,Antonio Neri,1576-02-29 00:00:00,both
62,Darius Adamczyk,Honeywell,Darius Adamczyk,1966-02-08 00:00:00,both
63,Noel Quinn,HSBC,Noel Quinn,NaT,both
64,Arvind Krishna,IBM,Arvind Krishna,1962-11-23 00:00:00,both
65,Salil Parekh,Infosys,Salil Parekh,1964-06-05 00:00:00,both
66,Pat Gelsinger,Intel,Pat Gelsinger,1961-03-05 00:00:00,both
67,James Dimon,JP Morgan Chase,James Dimon,1956-03-13 00:00:00,both
68,Pieter Elbers,KLM,Pieter Elbers,1970-05-11 00:00:00,both
69,Charles G. Koch,Koch Industries,Charles G. Koch,1935-11-01 00:00:00,both
70,Marillyn Hewson,Lockheed Martin,Marillyn Hewson,1953-12-27 00:00:00,both
71,Steve Rowe,Marks & Spencer,Steve Rowe,1965-01-19 00:00:00,both
72,Chris Kempczinski,McDonald's,Chris Kempczinski,NaT,both
73,Bob Sternfels,McKinsey & Company,Bob Sternfels,NaT,both
74,Steven A. Kandarian,MetLife,Steven A. Kandarian,NaT,both
75,Isaac Larian,MGA Entertainment,Isaac Larian,1954-03-28 00:00:00,both
76,Satya Nadella,Microsoft,Satya Nadella,1967-08-19 00:00:00,both
77,James P. Gorman,Morgan Stanley,James P. Gorman,1958-07-14 00:00:00,both
78,Jeff Shell,NBCUniversal,Jeff Shell,NaT,both
79,Robert James Thomson,News Corp,Robert James Thomson,1961-03-11 00:00:00,both
80,Mark Thompson,New York Times Company,Mark Thompson,NaT,both
81,Mark Parker,Nike,Mark Parker,1955-10-21 00:00:00,both
82,Pekka Lundmark,Nokia,Pekka Lundmark,1963-12-09 00:00:00,both
83,Vasant Narasimhan,Novartis,Vasant Narasimhan,1976-08-26 00:00:00,both
84,Tatsumi Kimishima,Nintendo,Tatsumi Kimishima,1950-04-21 00:00:00,both
85,Safra Catz,Oracle Corporation,Safra Catz,NaT,both
86,Mark Hurd,Oracle Corporation,Mark Hurd,1957-01-01 00:00:00,both
87,Ramon Laguarta,PepsiCo,Ramon Laguarta,NaT,both
88,Albert Bourla,Pfizer,Albert Bourla,1961-10-21 00:00:00,both
89,David S. Taylor,Procter & Gamble,David S. Taylor,1958-04-20 00:00:00,both
90,John Strangfeld,Prudential Financial,John Strangfeld,NaT,both
91,Alan Joyce,Qantas,Alan Joyce,NaT,both
92,Anil Ambani,Reliance Group,Anil Ambani,1959-06-04 00:00:00,both
93,Mukesh Ambani,Reliance Industries,Mukesh Ambani,1957-04-19 00:00:00,both
94,Luca de Meo,Renault,Luca de Meo,1967-06-13 00:00:00,both
95,David I. McKay,Royal Bank of Canada,David I. McKay,NaT,both
96,Ross McEwan,Royal Bank of Scotland,Ross McEwan,1957-07-16 00:00:00,both
97,Ben van Beurden,Royal Dutch Shell,Ben van Beurden,1958-04-23 00:00:00,both
98,Michael O'Leary,Ryanair,NaN,NaN,left_only
99,Douglas L. Peterson,S&P Global,Douglas L. Peterson,NaT,both
100,Oh-Hyun Kwon,Samsung,Oh-Hyun Kwon,NaT,both
101,Christian Klein,SAP,Christian Klein,1980-05-04 00:00:00,both
102,Herbert Fisk Johnson III,SC Johnson,Herbert Fisk Johnson III,1958-05-19 00:00:00,both
103,Jean-Pascal Tricoire,Schneider Electric,Jean-Pascal Tricoire,1963-05-11 00:00:00,both
104,Peter Harrison,Schroders,Peter Harrison,NaT,both
105,Chua Sock Koong,Singtel,Chua Sock Koong,NaT,both
106,Masayoshi Son,SoftBank,Masayoshi Son,1957-08-11 00:00:00,both
107,Tony Aquila,Solera Holdings,Tony Aquila,NaT,both
108,Robert E. Jordan,Southwest Airlines,Robert E. Jordan,NaT,both
109,J. Clifford Hudson,Sonic Corporation,J. Clifford Hudson,NaT,both
110,Brian Niccol,Starbucks,Brian Niccol,1974-08-16 00:00:00,both
111,Raymond Kwok,Sun Hung Kai Properties,Raymond Kwok,NaT,both
112,William H. Rogers Jr.,SunTrust Banks,William H. Rogers Jr.,NaT,both
113,Brian Cornell,Target Corporation,Brian Cornell,NaT,both
114,Rajesh Gopinathan,Tata Consultancy Services,Rajesh Gopinathan,NaT,both
115,Li Dongsheng,TCL Corporation,Li Dongsheng,NaT,both
116,Andy Penn,Telstra,Andy Penn,NaT,both
117,Dave Lewis,Tesco,Dave Lewis,NaT,both
118,Elon Musk,Tesla,Elon Musk,1971-06-28 00:00:00,both
119,Alan D. Schnitzer,The Travelers Companies,Alan D. Schnitzer,NaT,both
120,Akio Toyoda,Toyota,Akio Toyoda,1956-05-03 00:00:00,both
121,Scott Kirby,United Airlines,Scott Kirby,1967-08-13 00:00:00,both
122,Ralph Hamers,UBS,Ralph Hamers,1966-05-25 00:00:00,both
123,Hans Vestberg,Verizon Communications,Hans Vestberg,1965-06-23 00:00:00,both
124,Robert Bakish,ViacomCBS,Robert Bakish,1963-12-14 00:00:00,both
125,Vittorio Colao,Vodafone,Vittorio Colao,1961-10-03 00:00:00,both
126,Herbert Diess,Volkswagen Group,Herbert Diess,1958-10-24 00:00:00,both
127,Robert Iger,Walt Disney Company,Robert Iger,1951-02-10 00:00:00,both
128,Stefano Pessina,Walgreens Boots Alliance,Stefano Pessina,1941-06-04 00:00:00,both
129,Doug McMillon,Walmart,Doug McMillon,1966-10-17 00:00:00,both
130,Ann Sarnoff,Warner Brothers,Ann Sarnoff,NaT,both
131,Jason Kilar,WarnerMedia,Jason Kilar,1971-04-26 00:00:00,both
132,Charles Scharf,Wells Fargo,Charles Scharf,1965-04-24 00:00:00,both
133,John Mackey,Whole Foods Market,John Mackey,NaT,both
134,Rich Barton,Zillow Group,Rich Barton,NaT,both

In [53]:
pd.set_option('display.max_rows', 50)
result_df = company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']],
                                                left_on=['Executive'],
                                                right_on=['clean_name'], how="outer", indicator=True)

result_df[result_df['_merge'] != 'both']

,Executive,Company,clean_name,born,_merge
37,Ola Källenius,Daimler AG,NaN,NaN,left_only
44,Börje Ekholm,Ericsson,NaN,NaN,left_only
98,Michael O'Leary,Ryanair,NaN,NaN,left_only
135,NaN,NaN,Ola K%C3%A4llenius,1969-06-11 00:00:00,right_only
136,NaN,NaN,B%C3%B6rje Ekholm,NaT,right_only
137,NaN,NaN,Michael O%27Leary,NaT,right_only

We can also do this in SQL (there is no indicator but we can test for NULL):

In [54]:
duckdb.sql("""
            SELECT Executive, Company, clean_name, born
            FROM company_ceos_df FULL JOIN exec_df ON Executive=clean_name
            WHERE clean_name is null or Company is null
          """)

┌─────────────────┬────────────┬────────────────────┬─────────────────────┐
│    Executive    │  Company   │     clean_name     │        born         │
│     varchar     │  varchar   │      varchar       │      timestamp      │
├─────────────────┼────────────┼────────────────────┼─────────────────────┤
│ NULL            │ NULL       │ Ola K%C3%A4llenius │ 1969-06-11 00:00:00 │
│ NULL            │ NULL       │ B%C3%B6rje Ekholm  │ NULL                │
│ NULL            │ NULL       │ Michael O%27Leary  │ NULL                │
│ Michael O'Leary │ Ryanair    │ NULL               │ NULL                │
│ Ola Källenius   │ Daimler AG │ NULL               │ NULL                │
│ Börje Ekholm    │ Ericsson   │ NULL               │ NULL                │
└─────────────────┴────────────┴────────────────────┴─────────────────────┘

## 2.3. Composing Joins

Of course, we can join the results of a join with another table -- representing a *composition*!

Let's join with company data!

In [55]:
duckdb.sql("""SELECT Executive, Company, born
            FROM company_ceos_df
            JOIN exec_df ON Executive=replace(name, '_', ' ')
            JOIN company_data_df cd ON Company=cd.name
            WHERE born is not null""")

┌───────────┬─────────┬───────────┐
│ Executive │ Company │   born    │
│  varchar  │ varchar │ timestamp │
├───────────┴─────────┴───────────┤
│             0 rows              │
└─────────────────────────────────┘

Hmm, what is wrong here?

Let's switch to the tables saved in DuckDB for these.

In [56]:
con.sql('SELECT * from company_data')

┌────────────┬──────────────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│ Unnamed: 0 │         name         │ … │     linkedin url     │ current employee e…  │ total employee est…  │
│   int64    │       varchar        │   │       varchar        │        int64         │        int64         │
├────────────┼──────────────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│    5872184 │ ibm                  │ … │ linkedin.com/compa…  │               274047 │               716906 │
│    4425416 │ tata consultancy s…  │ … │ linkedin.com/compa…  │               190771 │               341369 │
│      21074 │ accenture            │ … │ linkedin.com/compa…  │               190689 │               455768 │
│    2309813 │ us army              │ … │ linkedin.com/compa…  │               162163 │               445958 │
│    1558607 │ ey                   │ … │ linkedin.com/compa…  │               158363 │               428960 │
│    3844889 │ hewlett-packard      │ … │ linkedin.com/compa…  │               127952 │               412952 │
│    2959148 │ cognizant technolo…  │ … │ linkedin.com/compa…  │               122031 │               210020 │
│    5944912 │ walmart              │ … │ linkedin.com/compa…  │               120753 │               272827 │
│    3727010 │ microsoft            │ … │ linkedin.com/compa…  │               116196 │               276983 │
│    3300741 │ at&t                 │ … │ linkedin.com/compa…  │               115188 │               269659 │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│       ·    │  ·                   │ · │          ·           │                   ·  │                   ·  │
│    4782764 │ jönköpings kommun    │ … │ linkedin.com/compa…  │                 1118 │                 1964 │
│    3432133 │ jmc projects india…  │ … │ linkedin.com/compa…  │                 1118 │                 2112 │
│     910050 │ öbb                  │ … │ linkedin.com/compa…  │                 1118 │                 1546 │
│    6444131 │ vaillant group       │ … │ linkedin.com/compa…  │                 1118 │                 2540 │
│     916799 │ embracon administr…  │ … │ linkedin.com/compa…  │                 1118 │                 2240 │
│    3585785 │ university of chic…  │ … │ linkedin.com/compa…  │                 1118 │                 3220 │
│    2583172 │ pantaloon retail i…  │ … │ linkedin.com/compa…  │                 1118 │                 4723 │
│    1406043 │ nv energy            │ … │ linkedin.com/compa…  │                 1118 │                 1834 │
│     955441 │ mining               │ … │ linkedin.com/compa…  │                 1118 │                 1421 │
│    5571765 │ university of stir…  │ … │ linkedin.com/compa…  │                 1118 │                 2680 │
├────────────┴──────────────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                         11 columns (5 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Notice the case for `name`?

In [57]:
con.sql("""SELECT Executive, Company, born
            FROM company_ceos
            JOIN executives ON Executive=replace(name, '_', ' ')
            JOIN company_data cd ON lower(Company)=lower(cd.name)
            WHERE born is not null
            ORDER BY Company""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌──────────────────────┬──────────────────────────┬─────────────────────┐
│      Executive       │         Company          │        born         │
│       varchar        │         varchar          │      timestamp      │
├──────────────────────┼──────────────────────────┼─────────────────────┤
│ Kumar Mangalam Birla │ Aditya Birla Group       │ 1967-06-14 00:00:00 │
│ Guillaume Faury      │ Airbus                   │ 1968-02-22 00:00:00 │
│ Guillaume Faury      │ Airbus                   │ 1968-02-22 00:00:00 │
│ Andy Jassy           │ Amazon                   │ 1968-01-13 00:00:00 │
│ Andy Jassy           │ Amazon                   │ 1968-01-13 00:00:00 │
│ Joseph R. Swedish    │ Anthem                   │ 1951-05-17 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│    ·                 │   ·                      │          ·          │
│ Hans Vestberg        │ Verizon Communications   │ 1965-06-23 00:00:00 │
│ Vittorio Colao       │ Vodafone                 │ 1961-10-03 00:00:00 │
│ Vittorio Colao       │ Vodafone                 │ 1961-10-03 00:00:00 │
│ Stefano Pessina      │ Walgreens Boots Alliance │ 1941-06-04 00:00:00 │
│ Doug McMillon        │ Walmart                  │ 1966-10-17 00:00:00 │
│ Doug McMillon        │ Walmart                  │ 1966-10-17 00:00:00 │
│ Robert Iger          │ Walt Disney Company      │ 1951-02-10 00:00:00 │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
├──────────────────────┴──────────────────────────┴─────────────────────┤
│ 144 rows (20 shown)                                         3 columns │
└───────────────────────────────────────────────────────────────────────┘

Hmm, there are duplicates!  This is because of fields in the `company_data` table that we don't care about. We can remove the duplicates via `SELECT DISTINCT`.

In [58]:
con.sql("""SELECT DISTINCT Executive, Company, born
            FROM company_ceos
            JOIN executives ON Executive=replace(name, '_', ' ')
            JOIN company_data cd ON lower(Company)=lower(cd.name)
            WHERE born is not null
            ORDER BY Company""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌──────────────────────┬──────────────────────────┬─────────────────────┐
│      Executive       │         Company          │        born         │
│       varchar        │         varchar          │      timestamp      │
├──────────────────────┼──────────────────────────┼─────────────────────┤
│ Kumar Mangalam Birla │ Aditya Birla Group       │ 1967-06-14 00:00:00 │
│ Guillaume Faury      │ Airbus                   │ 1968-02-22 00:00:00 │
│ Andy Jassy           │ Amazon                   │ 1968-01-13 00:00:00 │
│ Joseph R. Swedish    │ Anthem                   │ 1951-05-17 00:00:00 │
│ Tim Cook             │ Apple                    │ 1960-11-01 00:00:00 │
│ Charles Woodburn     │ BAE Systems              │ 1971-03-11 00:00:00 │
│ Oliver Zipse         │ BMW                      │ 1964-02-07 00:00:00 │
│ Bob Dudley           │ BP                       │ 1955-09-14 00:00:00 │
│ Brian Moynihan       │ Bank of America          │ 1959-10-09 00:00:00 │
│ Warren Buffett       │ Berkshire Hathaway       │ 1930-08-30 00:00:00 │
│     ·                │   ·                      │          ·          │
│     ·                │   ·                      │          ·          │
│     ·                │   ·                      │          ·          │
│ Elon Musk            │ Tesla                    │ 1971-06-28 00:00:00 │
│ Akio Toyoda          │ Toyota                   │ 1956-05-03 00:00:00 │
│ Ralph Hamers         │ UBS                      │ 1966-05-25 00:00:00 │
│ Scott Kirby          │ United Airlines          │ 1967-08-13 00:00:00 │
│ Hans Vestberg        │ Verizon Communications   │ 1965-06-23 00:00:00 │
│ Vittorio Colao       │ Vodafone                 │ 1961-10-03 00:00:00 │
│ Stefano Pessina      │ Walgreens Boots Alliance │ 1941-06-04 00:00:00 │
│ Doug McMillon        │ Walmart                  │ 1966-10-17 00:00:00 │
│ Robert Iger          │ Walt Disney Company      │ 1951-02-10 00:00:00 │
│ Charles Scharf       │ Wells Fargo              │ 1965-04-24 00:00:00 │
├──────────────────────┴──────────────────────────┴─────────────────────┤
│ 65 rows (20 shown)                                          3 columns │
└───────────────────────────────────────────────────────────────────────┘

Can we do all of this in Pandas? Of course!

First, we need to lowercase the company names.

In [59]:
company_ceos_df['company_lc'] = company_ceos_df['Company'].apply(lambda x: x.lower())

Notice this is slower than DuckDB?

In [60]:
company_ceos_df.merge(exec_df.dropna(),
                      left_on=['Executive'],
                      right_on=['clean_name']).\
                      merge(company_data_df,
                            left_on='company_lc',
                            right_on='name')[['Executive','Company','born']].drop_duplicates().sort_values('Company')

                Executive                   Company                 born
0    Kumar Mangalam Birla        Aditya Birla Group  1967-06-14 00:00:00
1         Guillaume Faury                    Airbus  1968-02-22 00:00:00
3              Andy Jassy                    Amazon  1968-01-13 00:00:00
5       Joseph R. Swedish                    Anthem  1951-05-17 00:00:00
6                Tim Cook                     Apple  1960-11-01 00:00:00
..                    ...                       ...                  ...
135        Vittorio Colao                  Vodafone  1961-10-03 00:00:00
138       Stefano Pessina  Walgreens Boots Alliance  1941-06-04 00:00:00
139         Doug McMillon                   Walmart  1966-10-17 00:00:00
137           Robert Iger       Walt Disney Company  1951-02-10 00:00:00
141        Charles Scharf               Wells Fargo  1965-04-24 00:00:00

[65 rows x 3 columns]

## Section 2 Exercises

Hmm, there seem to be quite a few Roberts and Bobs. (Maybe also Roberta?)

Using either Pandas operations like `merge` and the various bracket notations (but **not** the `loc`/`iloc` commands if you know these): write a query that takes the `company_ceos_df` and returns all companies that are overseen by someone with names `Bob`, `Robert`, or `Roberta`.

First, define a function that *robustly* does this:

In [61]:
def bob(name: str) -> bool:
  first_name = name # TODO: change this to get first name!
  return False # TODO: change this!

In [ ]:
from dill.source import getsource
grader.grade('bob_test', getsource(bob))

Now *select a subset of the rows* that have Bob/etc. using the function `bob` and the `apply` function.

In [ ]:
bob_co_df = # TODO
bob_co_df

In [ ]:
grader.grade(test_case_id='bobs_your_uncle_or_aunt', answer=bob_co_df)